{% extends "administrador/base_admin.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}

{% endblock extracss %}

{% block titulo %}
    <h1>
        Editar Factor
    </h1>
{% endblock titulo %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Factor Endoso: <strong>{{ endoso.endoso }}</strong></h3>
            </div><!-- /.box-header -->
            {% bootstrap_form_errors form %}
            <!-- form start -->
            <form action="" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">

              <div class="box-body">
                {% csrf_token %}
                {% bootstrap_field form.endoso layout='horizontal' %}
                {% bootstrap_field form.precio layout='horizontal' %}
                {% bootstrap_field form.prev_n layout='horizontal' %}
                {% bootstrap_field form.prev_p layout='horizontal' %}
                {% bootstrap_field form.prev_a layout='horizontal' %}
                {% bootstrap_field form.user layout='horizontal' %}
                <div class="form-group">
                  <label class="col-md-3 control-label" for="id_archivo">Archivo</label>
                  <div class="col-md-9">
                    <div class="row bootstrap3-multi-input">
                      <div class="col-xs-12">
                        Actual: <a href="{% url 'show_pdf' endoso.pk %}">{{ endoso.archivo.name }}</a>
                        <br>
                        Cambiar: <input class="" id="id_archivo" name="archivo" title="" type="file">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /.box-body -->

              <div class="box-footer text-center">
                <div class="form-group">
                  <a href="{% url 'list_endoso' %}" class="btn btn-danger" type="reset">Cancelar</a>
                  <button class="btn btn-primary" type="submit">Actualizar</button>
                </div>
              </div>
            </form>
          </div><!-- /.box -->
    </div>
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
</div>

{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#id_prev_n").val($("#id_endoso").val());
    $("#id_prev_p").val($("#id_precio").val());
    $("#id_prev_a").val("{{ endoso.archivo.name }}");
    $("#id_user").val({{ request.user.pk }});
  });
</script>
{% endblock custom_script %}
