{% extends "administrador/base_admin.html" %}

{% block titulo %}
    <h1>
        Editar Factor: <strong>Antigüedad</strong>
    </h1>
{% endblock titulo %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
        <div class="col-md-6 col-xs-12 col-sm-12">
          <div class="box">
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Límite</th>
                    <th>Factor Inferior</th>
                    <th>Factor Superior</th>
                  </tr>
                </thead>
                <tbody>
                    {% for antiguedad in antiguedades %}
                        <tr>
                            <td><a href="{% url 'admin_antiguedad' antiguedad.pk %}">{{ antiguedad.limite }}</a></td>
                            <td>{{ antiguedad.factor_menor|floatformat:2 }}</td>
                            <td>{{ antiguedad.factor_mayor|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Límite</th>
                    <th>Factor Inferior</th>
                    <th>Factor Superior</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
        <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
    </div>

{% endblock content %}
