{% extends "administrador/base_admin.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}

{% endblock extracss %}

{% block titulo %}
    <h1>
        Editar Factor
    </h1>
{% endblock titulo %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              {% if tiempo.tiempo == 9 %}
                <h3 class="box-title">Factor Tiempo de uso del vehículo: Mayor o igual a <strong>{{ tiempo.tiempo }}</strong> años</h3>
              {% else %}
                <h3 class="box-title">Factor Tiempo de uso del vehículo: <strong>{{ tiempo.tiempo }}</strong> año(s)</h3>
              {% endif %}
            </div><!-- /.box-header -->
            {% bootstrap_form_errors form %}
            <!-- form start -->
            <form action="" method="POST" role="form" class="form-horizontal">

              <div class="box-body">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
              </div><!-- /.box-body -->

              <div class="box-footer text-center">
                <div class="form-group">
                  <a href="{% url 'list_tiempo_uso' %}" class="btn btn-danger" type="reset">Cancelar</a>
                  <button class="btn btn-primary" type="submit">Actualizar</button>
                </div>
              </div>
            </form>
          </div><!-- /.box -->
    </div>
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
</div>

{% endblock content %}
{% block custom_script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#id_prev").val($("#id_factor").val());
    $("#id_user").val({{ request.user.pk }});
  });
</script>
{% endblock custom_script %}
