{% extends "dashboard/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Reset Password{% endblock %}

{% block extracss %}
<style>

  body {
    background-image: url('/static/img/backgroundLogin.jpg')
  }

</style>
{% endblock extracss %}

{% block sessions %}
<div class="col-xs-12 text-center">
  <br><br><br><br>
  <div class="col-xs-4"></div>
  <div class="col-xs-4 panel panel-default" style="border-width: 4px; border-color: 8CA5F0;">
    <div class="panel-body">
        <div class="login-box">
          <div class="login-logo">
            <a href="#"><i class="fa fa-instagram"></i><b> Instagram</b>APP</a>
          </div><!-- /.login-logo -->
          <div class="alert alert-info" role="alert">
              <p>Please specify your email address to receive instructions for resetting it.</p>
          </div>
          <div class="login-box-body">
            <form action="" method="post" role="form" class="form-horizontal">
                {% csrf_token %}
              <div class="form-group">
                {% bootstrap_form form layout='horizontal' %}

                <div class="row text-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat text-right">
                      Reset Password
                    </button>
                </div>
              </div>
              </form>
          </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </div>
  </div>
</div>

{% endblock sessions %}

