{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %}Setting New password{% endblock %}

{% block extracss %}
<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 29px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .first {
        padding-top: 10%;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 20%;
        }
    }
</style>
{% endblock extracss %}

{% block content %}
    {% if validlink %}

<div class="row" style="margin-top: 10%;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-hidden col-xs-hidden col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h1 id="titulo-login" class="text-center"><strong>REESTABLECER CONTRASEÑA</strong></h1>
                        <h5 class="text-center"> Por favor introduce tu contraseña dos veces. </h5>
                    </div>
                    <div class="box-body">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="hidden">
                                {% bootstrap_form_errors form %}
                            </div>
                            <form action="" method="post" role="form" class="form-horizontal">
                                {% csrf_token %}
                            {% bootstrap_field form.new_password1 show_label=False field_class='form-field' %}
                            {% bootstrap_field form.new_password2 show_label=False field_class='form-field' %}

                                {% buttons %}
                                    <div class="col-md-3"></div>
                                    <div class="col-sm-4 col-md-6 text-center">
                                        <button id="id_submit" type="submit" class="btn btn-lg calculate">
                                            CAMBIAR
                                        </button>
                                    </div>
                                    <div class="col-md-3"></div>
                                {% endbuttons %}
                            </form>
                        </div>
                        <div class="col-md-1"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-sm-hidden col-xs-hidden col-md-2"></div>
        </div>
    </div>
</div>

    {% else %}

<div class="row" style="margin-top: 10%;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-hidden col-xs-hidden col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h1 id="titulo-login" class="text-center"><strong>REESTABLECER CONTRASEÑA</strong></h1>
                    </div>
                    <div class="box-body">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Cambio de contraseña no completado</h1>
                            <p>Éste link es inválido, probablemente ya fue usado.<br>Por favor realiza la solicitud de nuevo</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-sm-hidden col-xs-hidden col-md-2"></div>
        </div>
    </div>
</div>

    {% endif %}

{% endblock content %}
