{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block extracss %}
<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 29px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .first {
        padding-top: 10%;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 20%;
        }
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
    <div class="col-xs-12 first">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>Reestablecer Contraseña</strong></h1>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-2"></div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                <div class="login-box-body">
                    <p>Te hemos enviado un correo con las instrucciones para reestablecer tu contraseña.</p>
                    <p>Debes recibirlo en unos minutos.</p>
                </div><!-- /.login-box-body -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

