{% extends "base.html" %}
{% load bootstrap %}

{% block extracss %}

{% endblock extracss %}

{% block sessions %}

<div class="col-xs-12 text-center">
  <br><br><br><br>
  <div class="col-xs-4"></div>
  <div class="col-xs-4 panel panel-default" style="border-width: 4px; border-color: 8CA5F0;">
    <div class="panel-body">
        <div class="login-box">
          <div class="login-logo">
            <a href="#"><i class="fa fa-instagram"></i><b> Instagram</b>APP</a>
          </div><!-- /.login-logo -->
          <div class="login-box-body text-center">
            
            <p>We sent you a new confirmation E-mail.</p>

          </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </div>
  </div>
</div>

{% endblock sessions %}