{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}
<link href="{% static 'fonts/MyriadPro-Bold_31631.ttf' %}" rel="stylesheet" media="screen">

<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 29px;
        color: #B5B6B8;
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
</style>

{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12" style="padding-top: 10%">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>ACCESO AL ÁREA PRIVADA DE CORREDORES</strong></h1>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-4">
                {% bootstrap_form_errors form %}
                <div class="login-box-body">
                    <form action="" method="post" role="form" class="form-horizontal">
                        {% csrf_token %}

                        {% bootstrap_field form.username show_help=False layout='inline' %}
                        {% bootstrap_field form.password layout='inline' %}
                        <div class="text-center">
                            <a id="link-acerta" href="{% url 'password_reset' %}">¿Olvidaste tu Contraseña?</a>
                        </div><br>

                        {% buttons %}
                            <div class="col-sm-4 col-md-8 text-center">
                                <button type="submit" class="btn btn-lg calculate">
                                    ENTRAR
                                </button>
                            </div>
                        {% endbuttons %}
                    </form>
                </div><!-- /.login-box-body -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

