{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/sidemenu.css' %}" media="screen" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/hamburger.css' %}" media="screen" charset="utf-8" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tapclick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SideMenu.js' %}"></script>
<script type="text/javascript">



        // Creating the master menu (SideMenu)
        sideMenu = new SideMenu([
          new SMLinkItem("Registrar Corredor/Vendedor", "{% url 'register'%}")
        ]);

        sideMenu.addItem(new SMLinkItem("Cerrar Sesión", "{% url 'logout'%}"));

        // Adding new item
        sideMenu.addItem(
            new SMButtonItem("Cerrar", function () {
                sideMenu.close();
            })
        );

        // CUSTOM ITEM
        // This is a custom item example
        // all created custom items extend from SMItem Class.

        SMUserAccountItem = (function (name, src) {
          SMItem.call(this); // Call SMItem constructor
          // this._el is jQuery item object that works how wrapper
          $(this.el).addClass('sm-item-useraccount')
            .append(
            this.photo = $('<img/>')
              .addClass('sm-useraccount-photo')
              .attr({ src: src }).get(0)
            )
            .append(
              this.name = $('<div/>')
                .addClass('sm-useraccount-name')
                .text(name).get(0)
            );
        });

        // Extend prototype from SMItem
        SMUserAccountItem.prototype = Object.create(SMItem.prototype); 
        SMUserAccountItem.prototype.constructor = SMUserAccountItem;

        // Adding custom item
        sideMenu.addItem(new SMUserAccountItem(
          "{{ user.get_full_name|default:user.username }}",
          "https://tracker.moodle.org/secure/attachment/30912/f3.png"
        ), 0 /* index cero, first element */ );


        // Finally add SideMenu object to DOM tree target.
        $(function(){
            sideMenu.appendTo(document.getElementById('menu'));
        });

        $(function(){
            $("#open-demo").click(function () {
                 sideMenu.open();
             });

            $(".row").click(function () {
                 sideMenu.close();
             });

            $("#close-demo").click(function () {
                 sideMenu.close();
             });
        });
    </script>
<div id="navbar">
    <ul class="nav navbar-nav menu hidden-xs">
        <li>
            <a href="{% url 'login' %}" style="border-bottom:none"><span><img src="{% static 'img/AcertaSeguros.png' %}"> &nbsp;</span></a>
        </li>
        <li style="float: right;">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% endif %}
        </li>
        <li style="float: right;">
            {% if user.is_authenticated and user.groups.all.0.name == 'super_admin' %}
                <a href="{% url 'register'%}">Registrar Corredor</a>
            {% elif user.is_authenticated and user.groups.all.0.name == 'corredor'  %}
                <a href="{% url 'register'%}">Registrar Vendedor</a>
            {% endif %}
        </li>
        <li style="float: right;">
            <a href="#">{{ user.get_full_name|default:user.username }}</a>
        </li>
    </ul>
</div>
<header class="navbar-fixed-top hidden-md hidden-lg">
  <nav id="menu2">
    <ul>
    </ul>
  </nav>
  <div id="on-hidden-menu">
  <div class="toggle">
      {% if user.is_authenticated %}
        <a id="open-demo"><img src="{% static 'img/66x66-icono-menu.png' %}" class="menu-img"></a>
      {% endif %}
</div>
</div>
</header>
<div id="menu" class="sm-main"></div>
