{% extends "administrador/base_admin.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}

{% endblock extracss %}

{% block titulo %}

{% endblock titulo %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <!-- general form elements -->
          <div class="box box-danger">
            <div class="box-header with-border">
                <h1 id="titulo-login" class="text-center"><strong>PAGO CONFIRMADO</strong></h1>
            </div>
            <div class="box-body">
              <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                  <p>Pago realizado con éxito!</p>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div><!-- /.box -->
    </div>
    <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
</div>

{% endblock content %}

{% block custom_script %}
{% endblock custom_script %}
