{% extends "administrador/base_admin.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{% load l10n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}
{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<style type="text/css">
    select:invalid { color: gray; }
    .select2 .select2-selection {
        display: block !important;
        width: 100% !important;
        height: 34px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #ccc !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    }
    .select2-container--default .select2-selection--single {
        border-radius: 1px !important;
    }
    #titulo-login {
        font-family: Arial;
        font-size: 25px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder { /* IE10–11 */
        color: #E76C42 !important;
    }

    input:focus::-ms-input-placeholder { /* Edge */
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .form-field {
        margin-left: 10px;
    }
    .form-control{
        margin-top: 10px;
    }
    #subtitulo {
        font-family: Arial;
        font-size: 13px;
        color: #828489;
    }
    #subtitulo2 {
        font-family: Arial;
        font-size: 18px;
        color: #B5B6B8;
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        float: right;
        width: 65%;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .first {
        padding-top: 10%;
    }
    #id_endoso{
        z-index: 0;
    }
    .button-endoso{
        z-index: 0;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 20%;
        }
    }
    .caption {
        text-align: center;
        font-weight: bold;
        background-color: #E76C42;
        color: white;
    }
    .melissa {
        float: left;
        vertical-align: text-bottom;
        display: inline-block;
        position: relative;
    }
    .carro {
        float: left;
        vertical-align: text-bottom;
        display: inline-block;
        position: absolute;
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: bottom;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/stepy_components.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h1 id="titulo-login" class="text-center"><strong>SOLICITUD DE PÓLIZA DE SEGUROS PARA AUTOMÓVILES</strong></h1>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            {% bootstrap_form_errors form %}
                            <form class="stepy-validation" id="myform" method="post" role="form">
                            {% csrf_token %}
                                <fieldset title="1">
                                    <legend class="text-semibold">Datos Personales</legend>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.nombre }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.nombre2 layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.apellido }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                {% bootstrap_field form.apellido_mat layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.apellido_cas layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.identificacion }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.fecha_nacimiento }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.pais_nacimiento layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.sexo }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.estado_civil }}" disabled>
                                            </div>
                                            <div class="col-md-8">
                                                {% bootstrap_field form.nacionalidad layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                {% bootstrap_field form.pais_residencia layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.provincia layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.distrito layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                {% bootstrap_field form.corregimiento layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.urbanizacion layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.calle_ave layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                {% bootstrap_field form.edificio layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.piso layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.apto layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.no_casa layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                {% bootstrap_field form.apartado_postal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.telefono_res layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.fax layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.estafeta layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset title="2">
                                    <legend class="text-semibold">Datos Ocupacionales</legend>

                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            {% bootstrap_field form.profesion layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                        <div class="col-md-6">
                                            {% bootstrap_field form.ocupacion layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            {% bootstrap_field form.empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                        <div class="col-md-4">
                                            {% bootstrap_field form.actividad_empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                        <div class="col-md-4">
                                            {% bootstrap_field form.cargo_empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            {% bootstrap_field form.direccion_empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            {% bootstrap_field form.telefono_empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                        <div class="col-md-3">
                                            {% bootstrap_field form.fax_empresa layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                        <div class="col-md-6">
                                            {% bootstrap_field form.correo_trabajo layout='horizontal' show_label=False field_class='form-field' %}
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset title="3">
                                    <legend class="text-semibold">Datos Políticos</legend>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.ilicito layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.politico_expuesto layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.cargo_politico layout='horizontal' show_label=False field_class='form-field politico' %}
                                            </div>
                                            <div class="col-md-6">
                                                {% bootstrap_field form.periodo_politico layout='horizontal' show_label=False field_class='form-field politico' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.nombre_politico layout='horizontal' show_label=False field_class='form-field politico' %}
                                            </div>
                                            <div class="col-md-6">
                                                {% bootstrap_field form.relacion_politico layout='horizontal' show_label=False field_class='form-field politico' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset title="4">
                                    <legend class="text-semibold">Datos Financieros</legend>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.declaracion_prima layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                {% bootstrap_field form.actividad_principal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.ingreso_principal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                {% bootstrap_field form.otra_actividad layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.otro_ingreso layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Referencia Personal:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                {% bootstrap_field form.nom_ref_personal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.actividad_ref_personal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.relacion_ref_personal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.telefono_ref_personal layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Referencia Bancaria:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                {% bootstrap_field form.nom_ref_bancaria layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.actividad_ref_bancaria layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.relacion_ref_bancaria layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.telefono_ref_bancaria layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Referencia Comercial:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                {% bootstrap_field form.nom_ref_comercial layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.actividad_ref_comercial layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.relacion_ref_comercial layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.telefono_ref_comercial layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset title="5">
                                    <legend class="text-semibold">Datos Adicionales</legend>

                                    <div class="row">
                                        <div class="col-md-12">
                                            Asegurado:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.nombre }} {{ cotizacion.conductor.apellido }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.identificacion }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Conductor:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.nombre_conductor layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.tipo_id_conductor layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.id_conductor layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset title="6">
                                    <legend class="text-semibold">Poliza y Bien</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.valido_desde layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-6">
                                                {% bootstrap_field form.valido_hasta layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.acreedor layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-6">
                                                {% bootstrap_field form.leasing layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-disabled" value="B./ {{ cotizacion.conductor.valor }}.00" disabled>
                                            </div>
                                            <div class="col-md-3">
                                                {% bootstrap_field form.placa layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.anio }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.marca.nombre }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.modelo.nombre }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.conductor.anio }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                {% bootstrap_field form.motor layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.chasis layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.tipo layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="B./ {{ cotizacion.total }}.00" disabled>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.plan }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.observaciones layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset title="7">
                                    <legend class="text-semibold">Cobranza</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Responsable de pago:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                               {% bootstrap_field form.responsable layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.nombre_responsable layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.tipo_id_responsable layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.id_responsable layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Forma de pago:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control form-disabled" value="{{ cotizacion.tipo_pago }}" disabled>
                                            </div>
                                        </div>
                                        {% if cotizacion.tipo_pago == 'Visa' %}
                                            <div class="col-md-12">
                                                Tarjeta de Credito:
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    {% bootstrap_field form.tipo_tdc layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                                <div class="col-md-8">
                                                    {% bootstrap_field form.num_tdc layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    {% bootstrap_field form.banco_tdc layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% bootstrap_field form.expiracion_tdc layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control form-disabled" value="{{ cotizacion.cuota }} pagos mensuales" disabled>
                                                </div>
                                                <div class="col-md-4">
                                                    {% bootstrap_field form.dia_pago layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                            </div>
                                        {% elif cotizacion.tipo_pago == 'Contado' %}
                                            <div class="col-md-12">
                                                Contado:
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control form-disabled" value="1 Pago Anual" disabled>
                                                </div>

                                                <div class="col-md-4">
                                                    {% bootstrap_field form.dia_pago layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-md-12">
                                                Otro:
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control form-disabled" value="{{cotizacion.cuota}} pagos mensuales" disabled>
                                                </div>

                                                <div class="col-md-4">
                                                    {% bootstrap_field form.dia_pago layout='horizontal' show_label=False field_class='form-field' %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <fieldset title="8">
                                    <legend class="text-semibold">¡Solicitar!</legend>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Datos del corredor:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <input type="text" class="form-control form-disabled" value="{{ corredor_pol.user.first_name }} {{ corredor_pol.user.last_name }}" disabled>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control form-disabled" value="{{ corredor_pol.licencia }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.firmador layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Informacion para Uso Interno:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                {% bootstrap_field form.tipo_produccion layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.tipo_suscripcion layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-4">
                                                {% bootstrap_field form.forma_facturacion layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                {% bootstrap_field form.renovacion layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.comision layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.def_comision layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.grupo_economico layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                {% bootstrap_field form.aprobaciones layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            Funcionario que revisa:
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                {% bootstrap_field form.funcionario layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.cargo_funcionario layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.area_funcionario layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                            <div class="col-md-2">
                                                {% bootstrap_field form.otra_area layout='horizontal' show_label=False field_class='form-field' %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <button type="submit" id="id_submit" class="btn btn-primary stepy-finish">Submit <i class="icon-check position-right"></i></button>
                            </form>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_script %}
    <!-- Core JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/stepy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/wizard_stepy.js' %}"></script>
    <!-- /theme JS files -->
<script src="{% static 'plugins/iCheck/icheck.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/jquery.mask2.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
    $('#id_politico_expuesto').on('ifChecked', function(event){
        $(".politico").removeClass("hidden");
    });
    $(document).ready(function(){
        $(".politico").addClass("hidden");
        $('#id_valido_desde').mask('0000-00-00', {placeholder: "Valido desde (aaaa/mm/dd)"});
        $('#id_valido_hasta').mask('0000-00-00', {placeholder: "Hasta (aaaa/mm/dd)"});
        $('#id_valido_desde').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            todayHighlight: true,
            autoclose: true,
        });
        $('#id_valido_hasta').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            todayHighlight: true,
            autoclose: true,
        });
        $('#id_dia_pago').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            todayHighlight: true,
            autoclose: true,
        });
        $('#id_expiracion_tdc').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            todayHighlight: true,
            autoclose: true,
        });
    });
</script>

{% endblock custom_script %}
