{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}

{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12" style="padding-top: 100px;">
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-4 panel panel-default" style="border-width: 4px; border-color: 8CA5F0;">
                <div class="panel-body">
                    <div style="margin: 7% auto;">
                        {% bootstrap_form_errors form %}
                        <div class="login-logo">
                            <a href="#"><b> Cotizador Acerta</b></a>
                        </div><!-- /.login-logo -->
                        <div class="login-box-body">
                            <form action="" method="post" role="form" class="form-horizontal">
                                {% csrf_token %}
                                {% bootstrap_field form.nombre layout='horizontal' %}
                                {% bootstrap_field form.apellido layout='horizontal' %}
                                {% bootstrap_field form.sexo layout='horizontal' %}
                                {% bootstrap_field form.edad layout='horizontal' %}
                                {% bootstrap_field form.identificacion layout='horizontal' %}
                                {% bootstrap_field form.estado_civil layout='horizontal' %}
                                {% bootstrap_field form.correo layout='horizontal' %}
                                {% bootstrap_field form.telefono1 layout='horizontal' %}
                                {% bootstrap_field form.telefono2 layout='horizontal' %}
                                {% bootstrap_field form.historial_transito layout='horizontal' %}

                                {% buttons submit='Crear' %}{% endbuttons %}
                            </form>
                            <div class="text-left">
                            </div>
                        </div><!-- /.login-box-body -->
                    </div><!-- /.login-box -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
