{% extends "base.html" %}
{% load humanize %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">

<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 25px;
        color: #B5B6B8;
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    .panel-body {
      line-height: 30px;
    }
    .panel-heading {
        height: 40px;
        font-size: 20px;
        line-height: 20px !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .form-field {
        margin:0px 0px 0px 20px;
    }
    #subtitulo {
        font-family: Arial;
        font-size: 13px;
        color: #828489;
    }
    #subtitulo2 {
        font-family: Arial;
        font-size: 18px;
        color: #B5B6B8;
    }
    .text-right {
        text-align: left;
        line-height: 30px;
    }
    .back {
        color: #FFFFFF; 
        background-color: #E76C42;
        text-align: center;
        float: left;
    }
    .calculate {
      color: #FFFFFF;
      background-color: #727270;
      text-align: center;
      float: right;
      margin-left: 10px;
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .box {
        border-top: 3px solid #E76C42 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
    .select {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
        margin-left: 10px;
    }
    .first {
        padding-top: 10%;
      }
    @media only screen and (max-width: 420px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
        .calculate {
          color: #FFFFFF;
          background-color: #727270;
          text-align: center;
          margin-bottom: 2px;
          transition: all 0.8s ease;
        }
        .calculate2 {
          color: #FFFFFF;
          background-color: #727270;
          text-align: center;
          float: left;
          transition: all 0.8s ease;
        }
        .box {
          font-size: 10px;
        }
        .first {
          padding-top: 20%;
        }
    }
</style>
{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12 first">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>COTIZACIÓN DE PÓLIZA DE SEGUROS PARA AUTOMÓVILES</strong></h1>
                    <h3 id="subtitulo" class="text-center">3 simples pasos para cotizar en línea tu póliza</h3>
                    <img src="{% static 'img/1-2-3_cotizador_acerta_3.png' %}" class="col-xs-12 hidden-md hidden-lg">
                    <img src="{% static 'img/1-2-3_cotizador_acerta_3.png' %}" class="img-logo hidden-xs">
                    <h3 id="subtitulo2" class="text-center"><strong>COTIZACIÓN</strong></h3>
                    <br>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8 col-xs-12">
                <div class="box">
                <!-- <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> --><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" style="width:100%">
                      <tr>
                        <th>Descp. de Cobertura</th>
                        <th>Suma Asegurada<br>Por persona/Por accidente</th>
                        <th>Deducible</th>
                        <th>Prima</th>
                      </tr>
                      <tr>
                        <td>Lesiones Corporales</td>
                        <td>{{ cotizacion.lesiones_corporales }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_lesiones|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Daños a la Propiedad Ajena</td>
                        <td>{{ cotizacion.danios_propiedad }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_daniosProp|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Gastos Médicos por Accidente</td>
                        <td>{{ cotizacion.gastos_medicos }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_gastosMedicos|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Otros Daños</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.otros_danios|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.prima_otrosDanios|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Colisión y Vuelco</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.colision_vuelco|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.prima_colisionVuelco|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Incendio y Rayo</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.incendio_rayo|floatformat:2|intcomma }}</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Robo y Hurto</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.robo_hurto|floatformat:2|intcomma }}</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Muerte Accidental</td>
                        <td>{{ cotizacion.muerte_accidental }}</td>
                        <td></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Asistencia Legal</td>
                        <td>Incluido</td>
                        <td></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Importación de Piezas</td>
                        {% if cotizacion.importacion_piezas%}
                          <td>Incluido</td>
                          <td></td>
                          <td>{{ cotizacion.prima_importacion|floatformat:2|intcomma }}</td>
                        {% else %}
                          <td>No Incluido</td>
                          <td></td>
                          <td>-</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td>Endoso {{ cotizacion.endoso }}</td>
                        <td>Incluido</td>
                        <td></td>
                        <td>{{ cotizacion.prima_endoso|floatformat:2|intcomma }}</td>
                      </tr>
                    </table>
                    {% bootstrap_form_errors form %}
                    <form action="" method="post" role="form" class="form-horizontal">
                    <div class="col-md-5 hidden-xs"></div>
                    <div class="row hidden-md hidden-lg"></div>
                    <div class="col-md-2 col-xs-12">
                        <h5><br></h5>
                        <h5><br></h5>
                        <h5><br></h5>
                        <h5>{% bootstrap_field form.cuotas show_label=False layout='horizontal' %}</h5>
                        <h5><br></h5>
                        <h5><br></h5>
                        <h5><br></h5>
                    </div>
                    <div class="row hidden-md hidden-lg"></div>
                    <div class="col-xs-1 hidden-md hidden-lg"></div>
                    <div class="col-md-3 col-xs-6 text-right" style="text-align:left;">
                      <h5><strong>Endoso:</strong></h5>
                      <h5>Subtotal:</h5>
                      <h5>Impuestos:</h5>
                      <h5><strong>Total a Pagar:</strong></h5>
                      <h5><strong>Prima Mensual:</strong></h5>
                      <h5><strong>Prima Pago de Contado:</strong></h5>
                      <h5>Prima Pago ACH/Visa:</h5>
                    </div>
                    <div class="col-md-2 col-xs-4 text-right" style="text:align:left;">
                      <h5><strong>{{ cotizacion.endoso }}</strong></h5>
                      <h5>B/.{{ cotizacion.subtotal|floatformat:2|intcomma }}</h5>
                      <h5>B/.{{ cotizacion.impuestos|floatformat:2|intcomma }}</h5>
                      <h5><strong>B/.{{ cotizacion.total|floatformat:2|intcomma }}</strong></h5>
                      <h5 id="prima-mensual" data-total="{{ cotizacion.total|floatformat:2 }}"><strong>B/. {{ cotizacion.prima_mensual|floatformat:2 }}</strong></h5>
                      <h5><strong>B/.{{ cotizacion.prima_pagoContado|floatformat:2|intcomma }}</strong></h5>
                      <h5>B/.{{ cotizacion.prima_pagoVisa|floatformat:2|intcomma }}</h5>
                    </div>
                    <br>
                    </div><!-- /.box-body -->
                    </div><!-- /.box -->

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10 btn-group-lg">
          <div class="col-md-2 hidden-xs">
            <a class="btn btn-lg back" href="{% url 'ver_planes' pk1 pk2 pk3 pk4 %}"><span class="glyphicon glyphicon-chevron-left"></span>Volver</a>
          </div>
            <div class="col-md-8 col-xs-12">
              {% csrf_token %}
              <button type="submit" class="btn btn-lg calculate">
                Enviar
              </button>
              </form>
              <div class="row hidden-md hidden-lg"></div>
                <a class="btn btn-lg back" href="{% url 'vehiculo' %}" style="margin-left:10px; float: right;">Guardar</a>
                <a class="btn btn-lg calculate calculate2" href="{% url 'vehiculo' %}">Nueva Cotización</a>
            </div>
            <br><br><br><br>
            <br><br><br><br>
          </div>

          </div>

    </div>
</div>
{% endblock content %}

{% block custom_script %}

<script type="text/javascript">

  function addThousandsSeparator(input) {
      var output = input
      if (parseFloat(input)) {
          input = new String(input); // so you can perform string operations
          var parts = input.split("."); // remove the decimal part
          parts[0] = parts[0].split("").reverse().join("").replace(/(\d{3})(?!$)/g, "$1,").split("").reverse().join("");
          output = parts.join(".");
      }

      return output;
  }

  $(document).on("change", "#id_cuotas", function(){
      var cuotas = parseInt($(this).val());
      var total = parseInt($("#prima-mensual").data("total"));
      var mensualidad = total / cuotas;
      $("#prima-mensual").empty();
      $("#prima-mensual").append("B/.  " + addThousandsSeparator(mensualidad.toFixed(2).toString()));
  });

</script>

{% endblock custom_script %}
