{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block extracss %}
<style type="text/css">
    #titulo {
        font-family: Arial;
        font-size: 29px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 420px) {
        #titulo {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    h3 {
        font-family: Arial;
        color: #C6C6C6;
        font-size: 20;
    }
    .panel {
        border-color: #C6C6C6;
        border-radius: 2px;
    }
    .panel-heading {
        height: 40px;
        font-size: 20px;
        line-height: 20px !important;
    }
    #subtitulo {
        font-family: Arial;
        font-size: 15px;
        color: #828489;
    }
    #subtitulo2 {
        font-family: Arial;
        font-size: 18px;
        color: #B5B6B8;
    }
    .select {
        color: #FFFFFF;
        background-color: #727270;
        width: 65%;
        text-align: center;
    }
    .back {
        color: #FFFFFF;
        background-color: #E76C42;
        width: 10%;
        height: 40px;
        text-align: center;
        margin:0 auto;
        display:block;
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
</style>
{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-md-2" style="padding-top: 10%"></div>
    <div class="col-md-8 text-center" style="padding-top: 10%">
        <h1 id="titulo" class="text-center"><strong>COTIZACIÓN DE PÓLIZA DE SEGUROS PARA AUTOMÓVIL</strong></h1>
        <h3 id="subtitulo" class="text-center">3 simples pasos para cotizar en línea tu póliza</h3>
        <img src="{% static 'img/1-2-3_cotizador_acerta_2.png' %}" class="col-xs-12">
        <h3 id="subtitulo" class="text-center">Elige la cobertura</h3><br>
    </div>
    <div class="col-md-2" style="padding-top: 10%"></div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-2"></div>
    <div class="col-md-3 col-xs-8">
        <div class="panel panel-default">
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><strong>OPCIÓN 1 B/. {{ cotizaciones.0.total|floatformat:2|intcomma }}</strong></h4></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%'>
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                    </tr>
                    <tr>
                        <th><strong>Otros daños</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.otros_danios|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Colisión y Vuelco</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.colision_vuelco|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Incendio y Rayo</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.incendio_rayo|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Robo y Hurto</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.robo_hurto|floatformat:2|intcomma }}</strong></td>
                    </tr>
                </table>
                <br>
                <div class='text-center'>
                    <a id='opcion1' class="btn btn-lg calculate" style="color:#ffffff;" href="{% url 'detalle_cotizacion' cotizaciones.0.pk cotizaciones.0.pk cotizaciones.1.pk cotizaciones.2.pk cotizaciones.3.pk %}">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg"></div>
    <div class="col-xs-2 hidden-md hidden-lg"></div>
    <div class="col-md-3 col-xs-8">
        <div class="panel panel-default">
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><strong>OPCIÓN 2 B/. {{ cotizaciones.1.total|floatformat:2|intcomma }}</strong></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%'>
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                    </tr>
                    <tr>
                        <th><strong>Otros daños</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.otros_danios|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Colisión y Vuelco</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.colision_vuelco|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Incendio y Rayo</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.incendio_rayo|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Robo y Hurto</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.robo_hurto|floatformat:2|intcomma }}</strong></td>
                    </tr>
                </table>
                <br>
                <div class='text-center'>
                    <a id='opcion1' class="btn btn-lg calculate" style="color:#ffffff;" href="{% url 'detalle_cotizacion' cotizaciones.1.pk cotizaciones.0.pk cotizaciones.1.pk cotizaciones.2.pk cotizaciones.3.pk %}">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-4"></div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-2"></div>
    <div class="col-md-3 col-xs-8">
        <div class="panel panel-default">
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><strong>OPCIÓN 3 B/. {{ cotizaciones.2.total|floatformat:2|intcomma }}</strong></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%'>
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                    </tr>
                    <tr>
                        <th><strong>Otros daños</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.otros_danios|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Colisión y Vuelco</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.colision_vuelco|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Incendio y Rayo</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.incendio_rayo|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Robo y Hurto</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.robo_hurto|floatformat:2|intcomma }}</strong></td>
                    </tr>
                </table>
                <br>
                <div class='text-center'>
                    <a id='opcion1' class="btn btn-lg calculate" style="color:#ffffff;" href="{% url 'detalle_cotizacion' cotizaciones.2.pk cotizaciones.0.pk cotizaciones.1.pk cotizaciones.2.pk cotizaciones.3.pk %}">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg"></div>
    <div class="col-xs-2 hidden-md hidden-lg"></div>
    <div class="col-md-3 col-xs-8">
        <div class="panel panel-default">
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><strong>OPCIÓN 4 B/. {{ cotizaciones.3.total|floatformat:2|intcomma }}</strong></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%'>
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                    </tr>
                    <tr>
                        <th><strong>Otros daños</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.otros_danios|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Colisión y Vuelco</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.colision_vuelco|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Incendio y Rayo</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.incendio_rayo|floatformat:2|intcomma }}</strong></td>
                    </tr>
                    <tr>
                        <th><strong>Robo y Hurto</strong></th>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.robo_hurto|floatformat:2|intcomma }}</strong></td>
                    </tr>
                </table>
                <br>
                <div class='text-center'>
                    <a id='opcion1' class="btn btn-lg calculate" style="color:#ffffff;" href="{% url 'detalle_cotizacion' cotizaciones.3.pk cotizaciones.0.pk cotizaciones.1.pk cotizaciones.2.pk cotizaciones.3.pk %}">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-4"></div>
</div><br>
<div class="col-md-4"></div>
<div class="col-md-4 text-center">
    <a class="btn btn-lg calculate" href="{% url 'vehiculo' %}"><span class="glyphicon glyphicon-chevron-left"></span>Volver</a>
</div>
<div class="col-md-4"></div>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}
