{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}
{% load humanize %}
{% block content %}
<!DOCTYPE html PUBLIC>
<html>
<head>
  <style type="text/css">
    @page {
        size: Legal portrait;
        margin: 0.25in;
    }
    .page{
    margin: 27mm 16mm 27mm 16mm;
  }
    #titulo {
        font-family: Arial;
        font-size: 16px;
        color: #B5B6B8;
    }
    p {
      
      line-height: 30%;
      margin-left: 1cm;
    }
    p1 {
      margin-left: 1cm;
    }

  </style>
</head>

<body>
  
    <img src="{% static 'img/AcertaSeguros.png' %}">
    <h2><p align="right">OPCIONES DE COTIZACIÓN DE PÓLIZA DE SEGUROS PARA AUTOMÓVIL</p></h2>
    <hr> <br>
    <p align="center"><br>Estimado (a) Sr. (a). {{ cotizacion.conductor.nombre }} {{ cotizacion.conductor.apellido }}. De acuerdo a su elección, le presentamos la propuesta de Acerta Seguros, para la póliza de AUTOMOVIL. </p>

    <table style='width:100%; margin-left: 1cm;'>

        <tr>
            <td id="subtitulo"><b>Datos generales del cliente:</b></td>
            <td class='text-right' id="subtitulo"><b>Datos del vehículo:</b></td>
        </tr>
       <tr>
            <td id="subtitulo">Nombre:{{ cotizacion.conductor.nombre }} </td>
            <td class='text-right' id="subtitulo">Marca:{{ cotizacion.conductor.marca.nombre }}</td>
        </tr>
        <tr>
            <td id="subtitulo">Apellido: {{ cotizacion.conductor.apellido }}</td>
            <td class='text-right' id="subtitulo">Modelo:{{ cotizacion.conductor.modelo.nombre }}</td>
        </tr>
        <tr>
            <td id="subtitulo">Cédula/Pasaporte: {{ cotizacion.conductor.identificacion }}</td>
            <td class='text-right' id="subtitulo">Valor:{{ cotizacion.conductor.valor }}</td>
        </tr>
        <tr>
            <td id="subtitulo">Teléfono Celular: {{ cotizacion.conductor.telefono1 }}</td>
            <td class='text-right' id="subtitulo">Año:{{ cotizacion.conductor.anio }}</td>
        </tr>
        <tr>
            <td id="subtitulo">Email: {{ cotizacion.conductor.correo }}</td>
            <td class='text-right' id="subtitulo"></td>
        </tr>
    </table>

  <div class="row">
    <div class="col-md-3 col-xs-2">
    </div>
    <div class="col-md-3 col-xs-8" style="margin-left: 1cm;">
        <div class="panel panel-default border: 1px solid #E76C42;">
            {% if elegida == 1 %}
            <div id='heading1' class='panel-heading text-center' style='background: #ffffff; color: #E76C42; border: 1px solid #E76C42; margin-left: 1cm;'><h4><strong>OPCIÓN 1 - ELEGIDA</strong></h4></div>
            <div id="panel-body" class='panel-body' style="margin-left: 1cm;">
                <table style='width:100%; background: #E76C42; margin-left: 1cm;'>
            {% else %}
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><h4><strong>OPCIÓN 1</strong></h4></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%; margin-left: 1cm;' >
            {% endif %}
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                        {% if tipo_pago == 'Contado' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Contado</strong></td>
                        {% elif tipo_pago == 'Visa' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>TCR</strong></td>
                        {% elif tipo_pago == 'ACH' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>AHC</strong></td>
                        {% else %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Otros</strong></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Otros daños</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.otros_danios|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Contado' %}
                        <td><strong></strong></td>
                          <td><strong></strong></td>
                      {% elif tipo_pago == 'Visa' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% elif tipo_pago == 'ACH' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% else %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Colisión y Vuelco</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.colision_vuelco|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Subtotal:<strong></td>
                        <td><strong>B/. {{ cotizaciones.0.subtotal }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Incendio y Rayo</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.incendio_rayo|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Impuestos:<strong></td>
                        <td><strong>B/. {{ cotizaciones.0.impuestos }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Robo y Hurto</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.0.robo_hurto|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Otro'%}
                        <td><strong>Total a Pagar:<strong></td>
                        <td><strong>B/. {{ cotizaciones.0.total }}<strong></td>
                        {% else %}
                        <td><strong>Total:<strong></td>
                        <td><strong>B/. {{ cotizaciones.0.total }}<strong></td>                   {% endif %}
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg"></div>
    <div class="col-xs-2 hidden-md hidden-lg"></div>
    <div class="col-md-3 col-xs-8" style="margin-left: 1cm;">
        <div class="panel panel-default border: 1px solid #E76C42;">
            {% if elegida == 2 %}
            <div id='heading1' class='panel-heading text-center' style='background: #ffffff; color: #E76C42; border: 1px solid #E76C42; margin-left: 1cm;'><h4><strong>OPCIÓN 2 - ELEGIDA</strong></h4></div>
            <div id="panel-body" class='panel-body' style="margin-left: 1cm;">
                <table style='width:100%; background: #E76C42; margin-left: 1cm;'>
            {% else %}
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><h4><strong>OPCIÓN 2</strong></h4></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%; margin-left: 1cm;'>
            {% endif %}
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                        {% if tipo_pago == 'Contado' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Contado</strong></td>
                        {% elif tipo_pago == 'Visa' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>TCR</strong></td>
                        {% elif tipo_pago == 'ACH' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>AHC</strong></td>
                        {% else %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Otros</strong></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Otros daños</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.otros_danios|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Contado' %}
                        <td><strong></strong></td>
                          <td><strong></strong></td>
                      {% elif tipo_pago == 'Visa' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% elif tipo_pago == 'ACH' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% else %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Colisión y Vuelco</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.colision_vuelco|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Subtotal:<strong></td>
                        <td><strong>B/. {{ cotizaciones.1.subtotal }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Incendio y Rayo</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.incendio_rayo|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Impuestos:<strong></td>
                        <td><strong>B/. {{ cotizaciones.1.impuestos }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Robo y Hurto</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.1.robo_hurto|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Otro'%}
                        <td><strong>Total a Pagar:<strong></td>
                        <td><strong>B/. {{ cotizaciones.1.total }}<strong></td>
                        {% else %}
                        <td><strong>Total:<strong></td>
                        <td><strong>B/. {{ cotizaciones.1.total }}<strong></td>                   {% endif %}
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-4"></div>
  </div>
  <div class="row">
    
    <div class="col-md-3 col-xs-8" style="margin-left: 1cm;">
        <div class="panel panel-default border: 1px solid #E76C42;">
            {% if elegida == 3 %}
            <div id='heading1' class='panel-heading text-center' style='background: #ffffff; color: #E76C42; border: 1px solid #E76C42; margin-left: 1cm;'><h4><strong>OPCIÓN 3 - ELEGIDA</strong></h4></div>
            <div id="panel-body" class='panel-body' style="margin-left: 1cm;">
                <table style='width:100%; background: #E76C42; margin-left: 1cm;'>
            {% else %}
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><h4><strong>OPCIÓN 3</strong></h4></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%; margin-left: 1cm;'>
            {% endif %}
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                        {% if tipo_pago == 'Contado' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Contado</strong></td>
                        {% elif tipo_pago == 'Visa' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>TCR</strong></td>
                        {% elif tipo_pago == 'ACH' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>AHC</strong></td>
                        {% else %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Otros</strong></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Otros daños</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.otros_danios|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Contado' %}
                        <td><strong></strong></td>
                          <td><strong></strong></td>
                      {% elif tipo_pago == 'Visa' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% elif tipo_pago == 'ACH' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% else %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Colisión y Vuelco</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.colision_vuelco|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Subtotal:<strong></td>
                        <td><strong>B/. {{ cotizaciones.2.subtotal }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Incendio y Rayo</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.incendio_rayo|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Impuestos:<strong></td>
                        <td><strong>B/. {{ cotizaciones.2.mpuestos }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Robo y Hurto</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.2.robo_hurto|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Otro'%}
                        <td><strong>Total a Pagar:<strong></td>
                        <td><strong>B/. {{ cotizaciones.2.total }}<strong></td>
                        {% else %}
                        <td><strong>Total:<strong></td>
                        <td><strong>B/. {{ cotizaciones.2.total }}<strong></td>                   {% endif %}
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg"></div>
    <div class="col-xs-2 hidden-md hidden-lg"></div>
    <div class="col-md-3 col-xs-8" style="margin-left: 1cm;">
        <div class="panel panel-default border: 1px solid #E76C42;">
            {% if elegida == 4 %}
            <div id='heading1' class='panel-heading text-center' style='background: #ffffff; color: #E76C42; border: 1px solid #E76C42; margin-left: 1cm;'><h4><strong>OPCIÓN 4 - ELEGIDA</strong></h4></div>
            <div id="panel-body" class='panel-body' style="margin-left: 1cm;">
                <table style='width:100%; background: #E76C42; margin-left: 1cm;'>
            {% else %}
            <div id='heading1' class='panel-heading text-center' style='background: #E76C42; color: #ffffff; border-radius: 1px;'><h4><strong>OPCIÓN 4</strong></h4></div>
            <div id="panel-body" class='panel-body'>
                <table style='width:100%; margin-left: 1cm;'>
            {% endif %}
                    <tr>
                        <td id="subtitulo">Cobertura</td>
                        <td class='text-right' id="subtitulo">Deducible</td>
                        {% if tipo_pago == 'Contado' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Contado</strong></td>
                        {% elif tipo_pago == 'Visa' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>TCR</strong></td>
                        {% elif tipo_pago == 'ACH' %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>AHC</strong></td>
                        {% else %}
                          <td><strong>Tipo de pago: </strong></td>
                          <td><strong>Otros</strong></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Otros daños</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.otros_danios|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Contado' %}
                        <td><strong></strong></td>
                          <td><strong></strong></td>
                      {% elif tipo_pago == 'Visa' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% elif tipo_pago == 'ACH' %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% else %}
                          <td><strong>A pagar en: </strong></td>
                          <td><strong>{{cuotas}} cuotas</strong></td>
                      {% endif %}
                    </tr>
                    <tr>
                        <td><strong>Colisión y Vuelco</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.colision_vuelco|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Subtotal:<strong></td>
                        <td><strong>B/. {{ cotizaciones.3.subtotal }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Incendio y Rayo</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.incendio_rayo|floatformat:0|intcomma }}</strong></td>
                        <td><strong>Impuestos:<strong></td>
                        <td><strong>B/. {{ cotizaciones.3.impuestos }}<strong></td>
                    </tr>
                    <tr>
                        <td><strong>Robo y Hurto</strong></td>
                        <td class='text-right'><strong>B/. {{ cotizaciones.3.robo_hurto|floatformat:0|intcomma }}</strong></td>
                        {% if tipo_pago == 'Otro'%}
                        <td><strong>Total a Pagar:<strong></td>
                        <td><strong>B/. {{ cotizaciones.3.total }}<strong></td>
                        {% else %}
                        <td><strong>Total:<strong></td>
                        <td><strong>B/. {{ cotizaciones.3.total }}<strong></td>                   {% endif %}
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
  </div>

  <br>.<br><br><br><br>

  <table style='width:100%; margin-left: 2cm;'>

        <tr>
            <td id="subtitulo"><b>BENEFICIOS ADICIONALES:</b>
              <li style='margin-left: 1cm;'>Asistencia inmediata en accidentes de tránsito</li>
              <li style='margin-left: 1cm;'>Asistencia legal y defensa penal por accidentes de tránsito</li>
              <li style='margin-left: 1cm;'>Referencia de talleres</li>
              <li style='margin-left: 1cm;'>Envío y pago de remolque en grúa en caso de colisión o vuelco</li>
              <li style='margin-left: 1cm;'>Servicio de ambulancia las 24 horas del día (máximo 3 eventos por año)</li>
              <li style='margin-left: 1cm;'>Auxilio vial en caso de cambio de llanta</li>
            </td>
              <td class='text-right' id="subtitulo"><b>OBSERVACIONES:</b>
              <li style='margin-left: 1cm;'>Esta cotización tiene validez por 30 días</li>
              <li style='margin-left: 1cm;'>La prima calculada está sujeta a confirmación de las declaraciones del contratante y revisión/aprobación por parte de la compañía, del historial de tránsito de conductor nombrado. </li>
            </td>
        </tr>

    </table>

  <br><br>.<br><br><br>

  <div class="col-md-3 col-xs-8" style="margin-left: 1cm;">
        <div class="panel panel-default border: 1px solid #E76C42;">
            <div id="panel-body" class='panel-body'>
                <table style='width:100%; margin-left: 3cm;'>
                    <tr>
                        <td class='text-right' id="subtitulo"><br><br><br>Esperamos que nuestra propuesta sea de su agrado.<br> Atentamente,<br> Acerta Seguros. </td>
                        <td class='text-right' id="subtitulo"><img src="{% static 'img/melissa_acerta_300x130_3.png' %}" style=" float: right; z-index: -1;" class="hidden-xs hidden-sm"></td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

{% endblock %}
