{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{% load l10n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}
{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<style type="text/css">
    select:invalid { color: gray; }
    .select2 .select2-selection {
        display: block !important;
        width: 100% !important;
        height: 34px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #ccc !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    }
    .select2-container--default .select2-selection--single {
        border-radius: 1px !important;
    }
    #titulo-login {
        font-family: Arial;
        font-size: 25px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder { /* IE10–11 */
        color: #E76C42 !important;
    }

    input:focus::-ms-input-placeholder { /* Edge */
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .form-field {
        margin:0px 0px 0px 20px;
    }
    .form-field-value {
        margin:0px 0px 0px 20px;
        display:none;
    }
    .km-field {
        margin:0px 0px 0px 20px;
        display: none;
    }
    #subtitulo {
        font-family: Arial;
        font-size: 13px;
        color: #828489;
    }
    #subtitulo2 {
        font-family: Arial;
        font-size: 18px;
        color: #B5B6B8;
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        float: right;
        width: 65%;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .first {
        padding-top: 0%;
    }
    #id_endoso{
        z-index: 0;
    }
    .button-endoso{
        z-index: 0;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 0%;
        }
    }
    .caption {
        text-align: center;
        font-weight: bold;
        background-color: #E76C42;
        color: white;
    }
    .melissa {
        float: left;
        vertical-align: text-bottom;
        display: inline-block;
        position: relative;
    }
    .carro {
        float: left;
        vertical-align: text-bottom;
        display: inline-block;
        position: absolute;
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: bottom;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12 first">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 hidden-xs hidden-sm"></div>
                <div class="col-md-8 col-xs-12 col-sm-12 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>COTIZACIÓN DE PÓLIZA DE SEGUROS PARA AUTOMÓVILES</strong></h1>
                    <h3 id="subtitulo" class="text-center">3 simples pasos para cotizar en línea tu póliza</h3>
                    <img src="{% static 'img/1-2-3_cotizador_acerta_1.png' %}" class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <img src="{% static 'img/1-2-3_cotizador_acerta_1.png' %}" class="img-logo hidden-xs">
                    <h3 id="subtitulo2" class="text-center"><strong>INGRESA TODOS LOS DATOS</strong></h3>
                </div>

                <div class="col-md-2 hidden-xs hidden-sm"></div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12" style="position: relative;">
                <img src="{% static 'img/melissa_acerta_300x130_2.png' %}" style="position: absolute; float: left; z-index: -1; top: 520px; left: 20px;" class="hidden-xs hidden-sm">
                <img src="{% static 'img/carro_acerta_300x130.png' %}" width="250" style="position: absolute; float: left; z-index: -2; top: 680px; left:-40px;" class="hidden-xs hidden-sm">
                {% bootstrap_form_errors form %}
                <form id="myform" action="" method="post" role="form" class="form-horizontal">
                    {% csrf_token %}

                    <div class="login-box-body">
                        <h3 id="subtitulo"><strong>Datos del Cliente</strong></h3>
                        <div class="col-md-6">

                            <h3 id="subtitulo"><strong>Persona</strong></h3>
                            {% bootstrap_field form.nombre layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.apellido layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.sexo layout='horizontal' show_label=False show_help=True field_class='form-field' %}
                            {% bootstrap_field form.fecha_nacimiento layout='horizontal' show_label=False show_help=True field_class='form-field' %}
                            {% bootstrap_field form.tipo_id layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.identificacion layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.estado_civil layout='horizontal'  show_label=False field_class='form-field' %}
                            {% bootstrap_field form.correo layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.telefono1 layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.telefono2 layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.historial_transito layout='horizontal' show_label=False field_class='form-field'%}
                        </div>
                        <div class="col-md-6">
                            <h3 id="subtitulo"><strong>Cobertura</strong></h3>
                            {% bootstrap_field form.lesiones_corporales layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.danios_propiedad layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.gastos_medicos layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.muerte_accidental layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.importacion_piezas layout='horizontal' show_label=False field_class='form-field'%}
                            <h3 id="subtitulo"><strong>Datos del Automóvil</strong></h3>
                            {% bootstrap_field form.marca layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.modelo layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.anio layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.cero_km layout='horizontal' show_label=False field_class='km-field' %}
                            {% bootstrap_field form.valor layout='horizontal' show_label=False field_class='form-field-value' %}
                            {% bootstrap_field form.valor_text layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.endoso layout='horizontal' show_label=False field_class='form-field input-group col-xs-11 pull-left' %}
                            {% bootstrap_field form.mail_corredor show_label=False %}
                            {% buttons %}
                                <button id="id_submit" type="submit" class="btn btn-lg calculate">
                                    Calcular
                                </button>
                            {% endbuttons %}
                        </div>
                        <br>

                    </div><!-- /.login-box-body -->
                </form>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm"></div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Endoso</h4>
      </div>
      <div class="modal-body">
        <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-modal" style="width:100%">
                        <tr>
                        <th>BENEFICIOS</th>
                        <th id="costo-modal">COSTO</th>
                        </tr>
                        <tr><td>Reembolso del Deducible al 100%, contra resolución del transito.</td><td class="td-0"></td></tr>
                        <tr><td>0% en deducible para mujeres mayores de 25 años por pérdida total</td><td class="td-1"></td></tr>
                        <tr><td>Descuento del 50% en el deducible  de Colisión para mujeres aseguradas ambos mayores de 25 años </td><td class="td-2"></td></tr>
                        <tr><td>Cobertura Extraterritorial a Costa Rica</td><td class="td-3"></td></tr>
                        <tr><td>Cobertura de Muerte Accidental </td><td class="td-4"></td></tr>
                        <tr><td>Reembolso de Gastos funerarios</td><td class="td-5"></td></tr>
                        <tr><td>Cirugía  Reconstructiva</td><td class="td-6"></td></tr>
                        <tr><td>Reembolso de Cirugías y servicios odontológicos</td><td class="td-7"></td></tr>
                        <tr><td>Reembolso Gastos de Mascota</td><td class="td-8"></td></tr>
                        <tr><td>Pérdida de efectos personales</td><td class="td-9"></td></tr>
                        <tr><td>No depreciación de autos nuevos el primer año</td><td class="td-10"></td></tr>
                        <tr><td>No depreciación de neumáticos en autos nuevos el primer año</td><td class="td-11"></td></tr>
                        <tr><td>Responsabilidad Civil para auto sustituto</td><td class="td-12"></td></tr>
                        <tr><td>Responsabilidad Civil para remolques o semiremolques</td><td class="td-13"></td></tr>
                        <tr><td>Descuento del 50% en otras pólizas</td><td class="td-14"></td></tr>
                        <tr><td>Alquiler de auto por colisión o vuelco</td><td class="td-15"></td></tr>
                        <tr><td>Alquiler de auto por robo</td><td class="td-16"></td></tr>
                        <tr><td>Alquiler de auto por otros daños</td><td class="td-17"></td></tr>
                        <tr><td>Beneficio de Importación de piezas </td><td class="td-18"></td></tr>
                        <tr><td>Trámite de Revisado (Gratis- Tambor)</td><td class="td-19"></td></tr>

                    </table>
                    <br>
                    <br>
                    <table class="table table-hover table-modal" style="width:100%">
                        <caption class="caption">ACERTA ASISTENCIA</caption>
                        <tr><td>Asistencia Servicio de Grúa</td><td class="td2-0"></td></tr>
                        <tr><td>Asistencia Auxilio Víal</td><td class="td2-1"></td></tr>
                        <tr><td>Asistencia Cerrajero por pérdida o extravío de llaves</td><td class="td2-2"></td></tr>
                        <tr><td>Asistencia ambulancia</td><td class="td2-3"></td></tr>
                        <tr><td>Asistencia Legal</td><td class="td2-4"></td></tr>
                    </table>
                    </div><!-- /.box-body -->
                    </div><!-- /.box -->
      </div>
      <div class="modal-footer">
        <div class="col-xs-9"></div>
        <div class="col-xs-3 text-right">
            <button type="button" class="btn calculate" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}

{% block custom_script %}
<script src="{% static 'plugins/iCheck/icheck.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/jquery.mask2.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
    $('#id_marca').select2({
        placeholder: "Marca",
        allowClear: true
    });
    $('#id_modelo').select2({
        placeholder: "Modelo",
        allowClear: true
    });
    $(document).ready(function(){
        $('#id_fecha_nacimiento').datepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            todayHighlight: true,
            autoclose: true,
        });
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey',
            increaseArea: '5%' // optional
        });

        $("#id_mail_corredor").val("{{ request.user.email }}");

        $( '#id_endoso' ).parent().parent().css("margin-top", "-8%");
        {% if not update %}
            $( '#id_endoso' ).prepend('<option value="" selected=selected disabled>Endoso</option>');
            $( '#id_historial_transito' ).prepend('<option value="" selected=selected disabled>Historial de Tránsito</option>');
            $('#id_endoso').after('<div class="input-group-btn button-endoso"><button class="endoso btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign" style="color: #E76C42;"></span></button></div>');
            $('.endoso').prop("disabled",true);
            $( '#id_estado_civil' ).prepend('<option class="placeholder" value="" selected=selected disabled>Estado Civil</option>');
            $( '#id_sexo' ).prepend('<option class="placeholder" value="" selected=selected disabled>Sexo</option>');
            $( '#id_lesiones_corporales' ).prepend('<option class="placeholder" value="" selected=selected disabled>Lesiones Corporales</option>');
            $( '#id_danios_propiedad' ).prepend('<option class="placeholder" value="" selected=selected disabled>Daños a propiedad ajena</option>');
            $( '#id_gastos_medicos' ).prepend('<option class="placeholder" value="" selected=selected disabled>Gastos Médicos</option>');
            $( '#id_muerte_accidental' ).prepend('<option class="placeholder" value="" selected=selected disabled>Muerte Accidental</option>');
            $( '#id_modelo' ).empty();
            $("#id_endoso option[value='6']").remove();
            $("#id_endoso option[value='7']").remove();
            $("#id_endoso option[value='8']").remove();
            $("#id_endoso option[value='9']").remove();
            $("#id_endoso option[value='10']").remove();
            $("#id_endoso option[value='11']").remove();
        {% else %}
            console.log("aqui");
            $( '#id_endoso' ).prepend('<option value="" disabled>Endoso</option>');
            $( '#id_historial_transito' ).prepend('<option value="" disabled>Historial de Tránsito</option>');
            $( '#id_estado_civil' ).prepend('<option class="placeholder" value="" disabled>Estado Civil</option>');
            $( '#id_sexo' ).prepend('<option class="placeholder" value="" disabled>Sexo</option>');
            $( '#id_lesiones_corporales' ).prepend('<option class="placeholder" value="" disabled>Lesiones Corporales</option>');
            $( '#id_danios_propiedad' ).prepend('<option class="placeholder" value="" disabled>Daños a propiedad ajena</option>');
            $( '#id_gastos_medicos' ).prepend('<option class="placeholder" value="" disabled>Gastos Médicos</option>');
            $( '#id_muerte_accidental' ).prepend('<option class="placeholder" value="" disabled>Muerte Accidental</option>');
            document.getElementById("id_valor_text").value = $("#id_valor").val() + ".00";
            var anio = parseInt("{{vehiculo.anio}}");
            var today = new Date();
            var year1 = today.getFullYear() -1;
            var year = today.getFullYear();
            var year2 = today.getFullYear() +1;
            if (anio == year || anio == year1 || anio == year2) {
                $(".km-field").css('display','block');
            }
            else {
                $(".km-field").css('display','none');
                $(".km-field > div > label > .icheckbox_square-grey").attr("aria-checked", "false");
                $(".km-field > div > label > .icheckbox_square-grey").removeClass("checked");
                $('#id_cero_km').prop('checked', false);
            }
        {% endif %}
    });

    $(document).on("change", "#id_identificacion", function(e){
        e.preventDefault();
       if( $("#id_tipo_id_0").is(':checked') ){
            var cedula = new RegExp('^([0-9]{1,2}\-?[0-9]{2,4}\-?[0-9]{3,4})$');
            if (cedula.test($(this).val())) {
                $('#id_submit').prop('disabled', false);
                $(".cedula-validacion").remove();
            } else {
                $(".cedula-validacion").remove();
                $('#id_submit').prop('disabled', true);
                $(this).parent().after("<div class='form-field cedula-validacion' style='color:red; margin-top: 5%; margin-bottom: -4%;'>Introduzca una cédula válida</div>");
            }
       } else {
            $(".cedula-validacion").remove();
            $('#id_submit').prop('disabled', false);
       }
    });

    $("#id_identificacion").focus(function(e){
        e.preventDefault();
       if( $("#id_tipo_id_0").is(':checked') ){
            $(".cedula-help").remove();
            $("#id_identificacion").parent().after("<div class='form-field cedula-help' style='color: #727270; margin-top: 5%; margin-bottom: -4%;'>Cédula. Ej: 12-123-1234 ó 121231234</div>");
       } else {
            $(".cedula-help").remove();
       }
    });

    $("#id_identificacion").focusout(function(e){
        e.preventDefault();
        $(".cedula-help").remove();
    });

    $(document).on("change", "#id_valor_text", function(e){
        e.preventDefault();
        var valor = /^[0-9]{1,3}(,[0-9]{3})*\.[0-9]{2}$/;
        var value = $(this).val();
        if (valor.test($(this).val())) {
            $('#id_submit').prop('disabled', false);
            $(".valor-validacion").remove();
            var split = value.split('.')[0].replace(/,/g,"");
            document.getElementById("id_valor").value = split;
        } else {
            $(".valor-validacion").remove();
            $('#id_submit').prop('disabled', true);
            $(this).parent().after("<div class='valor-validacion' style='color:red; margin-bottom: 20px;'>Introduzca un valor correcto</div>");
        }
    });

    $( document ).on('change', '#id_lesiones_corporales', function(e) {
        e.preventDefault();
        var $index = $(this).children('option:selected').index();
        console.log($index);
        $("#id_danios_propiedad option:selected").prop('selected', false);
        $("#id_danios_propiedad option").eq($index).prop('selected', 'selected');
    });

    $( document ).on('change', '#id_danios_propiedad', function(e) {
        e.preventDefault();
    });

    $( document ).on('change', '#id_marca', function(e) {
        e.preventDefault();

        $.ajax({
            url: "{% url 'listModelsAjax' %}",
            type: 'GET',
            dataType: 'json',
            data: {id: $( this ).val()}
        })
        .done(function(data) {
            $( '#id_modelo' ).children().remove();
            $.each(data, function(index, option) {
                $( '#id_modelo' ).append('<option value="'+ option.id +'">'+ option.nombre + '</option>');
            });
            $( '#id_modelo' ).prepend('<option value="" selected=selected disabled>Modelo</option>');
        })
        .fail(function(XMLHttpRequest, textStatus, errorThrown) {
            $( '#id_modelo' ).empty();
            $( '#id_modelo' ).append('<option value="" selected=selected disabled>Modelo</option>');
        });
        if ($( this ).val() != 71) {
            $("#id_endoso option[value='7']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="7" selected=selected>Endoso Ford</option>');
            $( '.modal-title' ).empty();
            $( '#costo-modal' ).empty();
            $( '.modal-title' ).append('Endoso Ford');
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append('máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');


        }
        if ($( this ).val() != 202) {
            $("#id_endoso option[value='6']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="6" selected=selected>Endoso Toyota</option>');
            $( '.modal-title' ).empty();
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.modal-title' ).append('Endoso Toyota');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');

        }
        if ($( this ).val() != 131) {
            $("#id_endoso option[value='9']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="9" selected=selected>Endoso Lexus</option>');
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Lexus');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 125.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $1,000.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx.  20 días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30 días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('INCLUIDO');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');


        }
        if ($( this ).val() != 166) {
            $("#id_endoso option[value='11']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="11" selected=selected>Endoso Porsche</option>');
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Porsche');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 150.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $1,000.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15 días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('NO INCLUIDO');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');


        }
    });

    $( document ).on('change', '#id_endoso', function(e) {
        $('.endoso').prop("disabled",false);
        if ($('#id_endoso').val() == "2") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Básico');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('GRATIS');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('N/A');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('N/A');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('N/A');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('N/A');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('N/A');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('N/A');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('N/A');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('N/A');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('N/A');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('N/A');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('N/A');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append('N/A');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('N/A');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('N/A');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('N/A');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo 3 eventos al año');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');

        }
        if ($('#id_endoso').val() == "3") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Acerta Especial');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 31.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('Solo para Damas');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$500.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $150.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append('máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('N/A');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo 3 eventos al año');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "4") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Acerta Preferencial');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$500.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx 10  días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo 3 eventos al año');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');


        }
        if ($('#id_endoso').val() == "5") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Uber');
        }
        if ($('#id_endoso').val() == "7") {
            $( '.modal-title' ).empty();
            $( '#costo-modal' ).empty();
            $( '.modal-title' ).append('Endoso Ford');
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append('máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "6") {
            $( '.modal-title' ).empty();
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.modal-title' ).append('Endoso Toyota');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "8") {
            $( '.modal-title' ).empty();
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 75.00');
            $( '.modal-title' ).append('Endoso Subaru');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $500.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append('máx  15  días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('Voluntario');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "9") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Lexus');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 125.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $1,000.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx.  20 días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30 días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('INCLUIDO');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "11") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Porsche');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 150.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $1,000.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15 días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append(' máx 30  días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('NO INCLUIDO');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
        if ($('#id_endoso').val() == "10") {
            $( '.modal-title' ).empty();
            $( '.modal-title' ).append('Endoso Volvo');
            $( '#costo-modal' ).empty();
            $( '#costo-modal' ).append('Costo B/. 125.00');
            $( '.td-0' ).empty();
            $( '.td-0' ).append('INCLUIDO');
            $( '.td-1' ).empty();
            $( '.td-1' ).append('INCLUIDO');
            $( '.td-2' ).empty();
            $( '.td-2' ).append('INCLUIDO');
            $( '.td-3' ).empty();
            $( '.td-3' ).append('Hasta 30 días');
            $( '.td-4' ).empty();
            $( '.td-4' ).append('conductor $10,000 y pasajeros $5,000 máx. agregado $25,000');
            $( '.td-5' ).empty();
            $( '.td-5' ).append('Hasta $1,500');
            $( '.td-6' ).empty();
            $( '.td-6' ).append('$750.00 por evento');
            $( '.td-7' ).empty();
            $( '.td-7' ).append('$1,000.00 por evento');
            $( '.td-8' ).empty();
            $( '.td-8' ).append('max. $1,000.00');
            $( '.td-9' ).empty();
            $( '.td-9' ).append('Hasta $1,000.00');
            $( '.td-10' ).empty();
            $( '.td-10' ).append('INCLUIDO');
            $( '.td-11' ).empty();
            $( '.td-11' ).append('INCLUIDO');
            $( '.td-12' ).empty();
            $( '.td-12' ).append('INCLUIDO');
            $( '.td-13' ).empty();
            $( '.td-13' ).append('INCLUIDO');
            $( '.td-14' ).empty();
            $( '.td-14' ).append('En fianza de menor de edad para conducir solicitada por el tránsito');
            $( '.td-15' ).empty();
            $( '.td-15' ).append(' máx  15 días');
            $( '.td-16' ).empty();
            $( '.td-16' ).append('máx 30 días');
            $( '.td-17' ).empty();
            $( '.td-17' ).append('máx. 10 días');
            $( '.td-18' ).empty();
            $( '.td-18' ).append('INCLUIDO');
            $( '.td-19' ).empty();
            $( '.td-19' ).append('INCLUIDO');
            $( '.td2-0' ).empty();
            $( '.td2-0' ).append('$ 150.00 por evento máximo $ 450.00 anual');
            $( '.td2-1' ).empty();
            $( '.td2-1' ).append('Hasta 3 eventos');
            $( '.td2-2' ).empty();
            $( '.td2-2' ).append('INCLUIDO');
            $( '.td2-3' ).empty();
            $( '.td2-3' ).append('INCLUIDO');
            $( '.td2-4' ).empty();
            $( '.td2-4' ).append('INCLUIDO');
        }
    });

    $(document).on("change", "#id_anio", function(){
        var anio = parseInt($(this).val());
        var today = new Date();
        var year1 = today.getFullYear() -1;
        var year = today.getFullYear();
        var year2 = today.getFullYear() +1;
        if (anio == year || anio == year1 || anio == year2) {
            $(".km-field").css('display','block');
            $(".km-field > div > label > .icheckbox_square-grey").attr("aria-checked", "false");
            $(".km-field > div > label > .icheckbox_square-grey").removeClass("checked");
            $('#id_cero_km').attr('checked', false);
            $('#id_cero_km').prop('checked', false);
        }
        else {
            $(".km-field").css('display','none');
            $(".km-field > div > label > .icheckbox_square-grey").attr("aria-checked", "false");
            $(".km-field > div > label > .icheckbox_square-grey").removeClass("checked");
            $('#id_cero_km').prop('checked', false);
        }
    });

    $(document).ready(function(){
        $('#id_valor_text').maskMoney();
        $('#id_fecha_nacimiento').mask('0000-00-00', {placeholder: "F. Nacimiento (aaaa-mm-dd)"});

        $(document).click(function() {
            if($('#id_tipo_id_0').is(":checked")) {
                $('#id_identificacion').mask('00-000-0000', {placeholder: "00-000-0000"});
            } else {
                $('#id_identificacion').unmask();
            }
        });
    });

</script>

{% endblock custom_script %}
