{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{% load l10n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">

<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 25px;
        color: #B5B6B8;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #E76C42;
    }
    input:focus {
        border-color: #E76C42 !important;
        color: #E76C42 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #E76C42 !important;
    }
    input:focus::-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-moz-placeholder {
        color: #E76C42 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #E76C42 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .form-field {
        margin:0px 0px 0px 20px;
    }
    .km-field {
        margin:0px 0px 0px 20px;
        display: none;
    }
    #subtitulo {
        font-family: Arial;
        font-size: 13px;
        color: #828489;
    }
    #subtitulo2 {
        font-family: Arial;
        font-size: 18px;
        color: #B5B6B8;
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        float: right;
        width: 65%;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #E76C42;
      color: #FFFFFF;
    }
    .first {
        padding-top: 10%;
    }
    #id_endoso{
        z-index: 0;
    }
    .button-endoso{
        z-index: 0;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 20%;
        }
    }
</style>
{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12 first">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>COTIZACIÓN DE PÓLIZA DE SEGUROS PARA AUTOMÓVILES</strong></h1>
                    <h3 id="subtitulo" class="text-center">3 simples pasos para cotizar en línea tu póliza</h3>
                    <img src="{% static 'img/1-2-3_cotizador_acerta_1.png' %}" class="col-xs-12 hidden-md hidden-lg">
                    <img src="{% static 'img/1-2-3_cotizador_acerta_1.png' %}" class="img-logo hidden-xs">
                    <h3 id="subtitulo2" class="text-center"><strong>INGRESA TODOS LOS DATOS</strong></h3>
                </div>

                <div class="col-md-2"></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% bootstrap_form_errors form %}
                <form action="" method="post" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="login-box-body">
                        <h3 id="subtitulo"><strong>Datos del Cliente</strong></h3>
                        <div class="col-md-6" >
                            <h3 id="subtitulo"><strong>Persona</strong></h3>
                            {% bootstrap_field form.nombre layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.apellido layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.sexo layout='horizontal' show_label=False show_help=True field_class='form-field' %}
                            {% bootstrap_field form.edad layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.tipo_id layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.identificacion layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.estado_civil layout='horizontal'  show_label=False field_class='form-field' %}
                            {% bootstrap_field form.correo layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.telefono1 layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.telefono2 layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.historial_transito layout='horizontal' show_label=False field_class='form-field'%}
                        </div>
                        <div class="col-md-6" style="position:relative;">
                            <h3 id="subtitulo"><strong>Cobertura</strong></h3>
                            {% bootstrap_field form.lesiones_corporales layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.danios_propiedad layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.gastos_medicos layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.muerte_accidental layout='horizontal' show_label=False field_class='form-field'%}
                            <!-- {% bootstrap_field form.endoso layout='horizontal' show_label=False field_class='form-field' %} -->
                            <div class="form-group">
                                <div class="form-field input-group col-xs-12">
                                    <select class="form-control" id="id_endoso" name="endoso" required="required" title="">
                                        <option value="" selected=selected disabled>Endoso</option>
                                        <option value="Basico">Básico</option>
                                        <option value="Especial">Acerta Especial</option>
                                        <option value="Preferencial">Acerta Preferencial</option>
                                        <option value="Uber">Acerta Uber</option>
                                    </select>
                                    <div class="input-group-btn button-endoso">
                                        <button class="endoso btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign" style="color: #E76C42;"></span></button>
                                    </div>
                                </div>
                                <!-- <div class="form-field">

                                </div> -->
                            </div>
                            {% bootstrap_field form.importacion_piezas layout='horizontal' show_label=False field_class='form-field'%}
                            <h3 id="subtitulo"><strong>Datos del Automóvil</strong></h3>
                            {% bootstrap_field form.marca layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.modelo layout='horizontal' show_label=False field_class='form-field'%}
                            {% bootstrap_field form.anio layout='horizontal' show_label=False field_class='form-field' %}
                            {% bootstrap_field form.cero_km layout='horizontal' show_label=False field_class='km-field' %}
                            {% bootstrap_field form.valor layout='horizontal' show_label=False field_class='form-field' %}
                            {% buttons %}
                                <button type="submit" class="btn btn-lg calculate">
                                    Calcular
                                </button>
                            {% endbuttons %}
                        </div>
                        <br>

                    </div><!-- /.login-box-body -->
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Endoso</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <div class="col-xs-9"></div>
        <div class="col-xs-3 text-right">
            <button type="button" class="btn calculate" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}

{% block custom_script %}
<script src="{% static 'plugins/iCheck/icheck.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.endoso').prop("disabled",true);
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-grey',
            radioClass: 'iradio_square-grey',
            increaseArea: '5%' // optional
        });
        $( '#id_marca' ).prepend('<option class="placeholder" value="" selected=selected disabled>Marca</option>');
        $( '#id_estado_civil' ).prepend('<option class="placeholder" value="" selected=selected disabled>Estado Civil</option>');
        $( '#id_sexo' ).prepend('<option class="placeholder" value="" selected=selected disabled>Sexo</option>');
        $( '#id_lesiones_corporales' ).prepend('<option class="placeholder" value="" selected=selected disabled>Lesiones Corporales</option>');
        $( '#id_danios_propiedad' ).prepend('<option class="placeholder" value="" selected=selected disabled>Daños a propiedad ajena</option>');
        $( '#id_gastos_medicos' ).prepend('<option class="placeholder" value="" selected=selected disabled>Gastos Médicos</option>');
        $( '#id_muerte_accidental' ).prepend('<option class="placeholder" value="" selected=selected disabled>Muerte Accidental</option>');
        $( '#id_modelo' ).empty();
        $( '#id_modelo' ).append('<option class="placeholder" value="" selected=selected disabled>Modelo</option>');
    });

    $( document ).on('change', '#id_lesiones_corporales', function(e) {
        e.preventDefault();
        var $index = $(this).children('option:selected').index();
        console.log($index);
        $("#id_danios_propiedad option:selected").prop('selected', false);
        $("#id_danios_propiedad").eq($index).prop('selected', true);
    });

    $( document ).on('change', '#id_danios_propiedad', function(e) {
        e.preventDefault();
    });

    $( document ).on('change', '#id_marca', function(e) {
        e.preventDefault();

        $.ajax({
            url: "{% url 'listModelsAjax' %}",
            type: 'GET',
            dataType: 'json',
            data: {id: $( this ).val()}
        })
        .done(function(data) {
            $( '#id_modelo' ).children().remove();
            $.each(data, function(index, option) {
                $( '#id_modelo' ).append('<option value="'+ option.id +'">'+ option.nombre + '</option>');
            });
            $( '#id_modelo' ).prepend('<option value="" selected=selected disabled>Modelo</option>');
        })
        .fail(function(XMLHttpRequest, textStatus, errorThrown) {
            $( '#id_modelo' ).empty();
            $( '#id_modelo' ).append('<option value="" selected=selected disabled>Modelo</option>');
        });
        if ($( this ).val() != 95) {
            $("#id_endoso option[value='Ford']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Ford" selected=selected>Acerta Ford</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Ford');
            $( '.modal-body' ).append();
        }
        if ($( this ).val() != 226) {
            $("#id_endoso option[value='Toyota']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Toyota" selected=selected>Acerta Toyota</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Toyota');
            $( '.modal-body' ).append();
        }
        if ($( this ).val() != 216) {
            $("#id_endoso option[value='Subaru']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Subaru" selected=selected>Acerta Subaru</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Subaru');
            $( '.modal-body' ).append();
        }
        if ($( this ).val() != 155) {
            $("#id_endoso option[value='Lexus']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Lexus" selected=selected>Acerta Lexus</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Lexus');
            $( '.modal-body' ).append();
        }
        if ($( this ).val() != 190) {
            $("#id_endoso option[value='Porsche']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Porsche" selected=selected>Acerta Porsche</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Porsche');
            $( '.modal-body' ).append();
        }
        if ($( this ).val() != 241) {
            $("#id_endoso option[value='Volvo']").remove();
            $('.endoso').prop("disabled",false);
        } else {
            $( "#id_endoso" ).append('<option value="Volvo" selected=selected>Acerta Volvo</option>');
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Volvo');
            $( '.modal-body' ).append();
        }
    });

    $( document ).on('change', '#id_endoso', function(e) {
        $('.endoso').prop("disabled",false);
        if ($('#id_endoso').val() == "Basico") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Básico');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Especial") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Acerta Especial');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Preferencial") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Acerta Preferencial');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Uber") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Uber');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Ford") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Ford');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Toyota") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Toyota');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Subaru") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Subaru');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Lexus") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Lexus');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Porsche") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Porsche');
            $( '.modal-body' ).append();
        }
        if ($('#id_endoso').val() == "Volvo") {
            $( '.modal-title' ).empty();
            $( '.modal-body' ).empty();
            $( '.modal-title' ).append('Endoso Volvo');
            $( '.modal-body' ).append();
        }
    });

    $(document).on("change", "#id_anio", function(){
        var anio = parseInt($(this).val());
        var today = new Date();
        var year1 = today.getFullYear() -1;
        var year = today.getFullYear();
        var year2 = today.getFullYear() +1;
        if (anio == year || anio == year1 || anio == year2) {
            $(".km-field").css('display','block');
        }
        else {
            $(".km-field").css('display','none');
        }
    });

</script>

{% endblock custom_script %}
