header {
  background: #F3F3F3;
  padding: 15px 5px;
  position: relative;
  z-index: 1;
  border-bottom: 6px solid #E76C42;
}

#menu2 {
  position: relative;
  z-index: 1;
  width: 100%;
}

#menu2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: inline-block;
}

#menu2 ul li {
  display: inline-block;
  position: relative;
}

#menu2 ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.7em;
}
#menu2 ul li.on-hidden { display: none; }