{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row" style="padding-top:10%;">
	<div class="col-md-12">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title"> Corredores ACERTA</h3>
			</div>
			<div class="box-body">
			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
			    <tr role="row">
				    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: activate to sort column descending" style="width: 181px;">Nombre</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Apellido: activate to sort column ascending" style="width: 224px;">Apellido</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Correo: activate to sort column ascending" style="width: 198px;">Correo</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Licencia: activate to sort column ascending" style="width: 155px;">Licencia</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Detalles: activate to sort column ascending" style="width: 112px;">Detalles</th>
			    </tr>
			    </thead>
			    <tbody>
			    {% for user in object_list %}
			    	<tr role="row">
				      <td class="sorting_1"> {{ user.user.first_name }}</td>
				      <td>{{ user.user.last_name }}</td>
				      <td>{{ user.user.email }}</td>
				      <td>{{ user.licencia }}</td>
				      <td><a href="#">View</a></td>
				    </tr>
			    {% endfor %}</tbody>
			    <tfoot>
			    <tr><th rowspan="1" colspan="1">Nombre</th><th rowspan="1" colspan="1">Apellido</th><th rowspan="1" colspan="1">Correo</th><th rowspan="1" colspan="1">Licencia</th><th rowspan="1" colspan="1">Detalles</th></tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>

<div class="row" style="padding-top:10%;">
	<div class="col-md-12">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title"> Vendedores ACERTA</h3>
			</div>
			<div class="box-body">
			  <table id="example2" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
			    <tr role="row">
				    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: activate to sort column descending" style="width: 181px;">Nombre</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Apellido: activate to sort column ascending" style="width: 224px;">Apellido</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Correo: activate to sort column ascending" style="width: 198px;">Correo</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Detalles: activate to sort column ascending" style="width: 112px;">Corredor Asociado</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Detalles: activate to sort column ascending" style="width: 112px;">Detalles</th>
			    </tr>
			    </thead>
			    <tbody>
			    {% for user in vendedores %}		    		
			    	<tr role="row">
				      <td class="sorting_1"> {{ user.vendedor.first_name }}</td>
				      <td>{{ user.vendedor.last_name }}</td>
				      <td>{{ user.vendedor.email }}</td>
				      <td>{{ user.corredor.first_name }} {{ user.corredor.last_name }}</td>
				      <td><a href="#">View</a></td>
				    </tr>
			    {% endfor %}</tbody>
			    <tfoot>
			    <tr><th rowspan="1" colspan="1">Nombre</th><th rowspan="1" colspan="1">Apellido</th><th rowspan="1" colspan="1">Correo</th><th rowspan="1" colspan="1">Corredor Asociado</th><th rowspan="1" colspan="1">Detalles</th>
			    </tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
	$(function () {
		$("#example1","#example2").DataTable();
	});
</script>
{% endblock custom_script %}

