{% extends "base.html" %}
{% load static %}

{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row" style="padding-top: 10%;">
	<div class="col-md-4" style="padding-left: 2%;">
	<!-- Widget: user widget style 1 -->
		<div class="box box-widget widget-user-2">
		<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-orange">
			<!-- /.widget-user-image -->
				<h3 class="widget-user-username">{{user.first_name}} {{user.last_name}}</h3>
				{% if user.groups.first.name == 'corredor' %}
					<h5 class="widget-user-desc">Corredor Acerta</h5>
				{% else %}
					<h5 class="widget-user-desc">Vendedor Acerta</h5>
				{% endif %}
			</div>
			<div class="box-footer no-padding">
				<ul class="nav nav-stacked">
					{% if user.groups.first.name == 'corredor' %}
						<li><a href="#">Licencia <span class="pull-right badge bg-orange">{{corredor.licencia}}</spana></a></li>
					{% else %}
						<li><a href="#">Licencia <a class="pull-right">N/A</a></a></li>
					{% endif %}
					<li><a href="#">Correo <span class="pull-right badge bg-orange">{{user.email}}</span></a></li>
					<li><a href="#">Cotizaciones <span class="pull-right badge bg-red">12</span></a></li>
				</ul>
			</div>
		</div>
	<!-- /.widget-user -->
	</div>
	<div class="col-md-8" style="padding-right: 2%;">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title"> Cotizaciones</h3>
			</div>
			<div class="box-body">
			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
			    <tr role="row">
				    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: activate to sort column descending" style="width: 181px;">Conductor</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Apellido: activate to sort column ascending" style="width: 224px;">Marca</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Correo: activate to sort column ascending" style="width: 198px;">Modelo</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Detalles: activate to sort column ascending" style="width: 112px;">Total</th>
				    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Detalles: activate to sort column ascending" style="width: 112px;">Detalles</th>
			    </tr>
			    </thead>
			    <tbody>
			    {% for cotizacion in cotizaciones %}	    		
			    	<tr role="row">
				      <td class="sorting_1"> {{ cotizacion.conductor.nombre }} {{ cotizacion.conductor.apellido }}</td>
				      <td>{{ cotizacion.conductor.marca.nombre }}</td>
				      <td>{{ cotizacion.conductor.modelo.nombre }}</td>
				      <td> B/. {{ cotizacion.total }}</td>
				      <td><a href="#">View</a></td>
				    </tr>
			    {% endfor %}
			    </tbody>
			    <tfoot>
			    <tr><th rowspan="1" colspan="1">Conductor</th><th rowspan="1" colspan="1">Marca</th><th rowspan="1" colspan="1">Modelo</th><th rowspan="1" colspan="1">Total</th><th rowspan="1" colspan="1">Detalles</th>
			    </tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
	$(function () {
		$("#example1").DataTable();
	});
</script>
{% endblock custom_script %}

}