{% extends "administrador/base_admin.html" %}
{% load static %}
{% block title %}<title>Corredores y Vendedores</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title"> Corredores ACERTA</h3>
			</div>
			<div class="box-body table-responsive no-padding">
			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
			    <tr role="row">
			    	<th>Razón Social</th>
				    <th>Nombre</th>
				    <th>Apellido</th>
				    <th>Correo</th>
				    <th>Licencia</th>
				    <th>Detalles</th>
			    </tr>
			    </thead>
			    <tbody>
			    {% for user in object_list %}
			    	<tr role="row">
			    	  <td>{{ user.razon_social }}</td>
				      <td> {{ user.user.first_name }}</td>
				      <td>{{ user.user.last_name }}</td>
				      <td>{{ user.user.email }}</td>
				      <td>{{ user.licencia }}</td>
				      <td><a href="{% url 'corredor_vendedor_detail' user.user.pk %}">Ver</a></td>
				    </tr>
			    {% endfor %}</tbody>
			    <tfoot>
			    <tr><th rowspan="1" colspan="1">Nombre</th><th rowspan="1" colspan="1">Apellido</th><th rowspan="1" colspan="1">Correo</th><th rowspan="1" colspan="1">Licencia</th><th rowspan="1" colspan="1">Detalles</th></tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title"> Vendedores ACERTA</h3>
			</div>
			<div class="box-body table-responsive no-padding">
			  <table id="example2" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
				    <tr role="row">
					    <th>Nombre</th>
					    <th>Apellido</th>
					    <th>Correo</th>
					    <th>Corredor</th>
					    <th>Detalles</th>
				    </tr>
			    </thead>
			    <tbody>
			    {% for user in vendedores %}
			    	<tr role="row">
				      <td class="sorting_1"> {{ user.vendedor.first_name }}</td>
				      <td>{{ user.vendedor.last_name }}</td>
				      <td>{{ user.vendedor.email }}</td>
				      <td>{{ user.corredor.first_name }} {{ user.corredor.last_name }}</td>
				      <td><a href="{% url 'corredor_vendedor_detail' user.vendedor.pk %}">Ver</a></td>
				    </tr>
			    {% endfor %}
			    </tbody>
			    <tfoot>
				    <tr role="row">
					    <th>Nombre</th>
					    <th>Apellido</th>
					    <th>Correo</th>
					    <th>Corredor</th>
					    <th>Detalles</th>
				    </tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
	$(document).ready(function(){
		$(function () {
			$("#example1").DataTable();
			$("#example2").DataTable();
		});
	});
</script>
{% endblock custom_script %}

