{% extends "administrador/base_admin.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{% load l10n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}<title>Cotizaciones</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
  .box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
    .alert-dismissable {
      background-color: #dd4b39 !important;
    }
    .alert-danger {
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dd4b39), to(#dd4b39));
        background-image: -webkit-linear-gradient(top, #dd4b39, 0%, #dd4b39, 100%);
        background-image: -moz-linear-gradient(top, #dd4b39 0%, #dd4b39 100%);
        background-image: linear-gradient(to bottom, #dd4b39 0%, #dd4b39 100%);
        background-repeat: repeat-x;
        border-color: #dd4b39;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#dd4b39', GradientType=0);
    }
</style>
{% endblock extracss %}

{% block extrahead %}
  {{form.media}}
{% endblock extrahead %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4">
    {% bootstrap_form_errors form %}
  </div>
</div>
<form method="post" role="form">
          {% csrf_token %}
            <div id="div_start_date"
                 class="form-group">
                <label for="id_start_date">Fecha inicial:</label>

        <div class="input-group date col-md-3" id="id_start_date_picker">
            <input class="form-control" id="id_start_date" name="start_date" type="text"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="col-md-9"></div>
                <div class="text-muted pull-right">
                    <small></small>
                </div>
                <div class="help-block">

                </div>
            </div>

            <div id="div_end_date"
                 class="form-group">
                <label for="id_end_date">Fecha final:</label>

        <div class="input-group date col-md-3" id="id_end_date_picker">
            <input class="form-control" id="id_end_date" name="end_date" type="text"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <div class="col-md-9"></div>
                <div class="text-muted pull-right">
                    <small></small>
                </div>
                <div class="help-block">

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </form>
<div class="row">
  <div class="col-xs-12" style="padding-right: 2%;">
    <div class="box box-default color-palette-box">
      <div class="box-header">
        {% if status != 'all' %}
          {% if propia == 'si' %}
            <h3 class="box-title">Mis Cotizaciones {{status}}s </h3>
          {% else %}
            <h3 class="box-title">Cotizaciones {{status}}s de Corredor/Vendedor</h3>
            
          {% endif %}
        {% else %}
          {% if propia == 'si' %}
            <h3 class="box-title">Mis Cotizaciones</h3>
          {% else %}
            <h3 class="box-title">Cotizaciones de Corredor/Vendedor</h3>
            
          {% endif %}
        {% endif %}
      </div>
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
            <tr>
              <th>Conductor</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Total</th>
              <th>Status</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody>
          {% for cotizacion in cotizaciones %}
            <tr role="row">
              <td> {{ cotizacion.conductor.nombre }} {{ cotizacion.conductor.apellido }}</td>
              <td>{{ cotizacion.conductor.marca.nombre }}</td>
              <td>{{ cotizacion.conductor.modelo.nombre }}</td>
              <td> B/. {{ cotizacion.total|intcomma }}</td>
              {% if cotizacion.status == 'Enviada' or cotizacion.status == 'Guardada' %}
                <td><span class="badge bg-orange">{{ cotizacion.status }}</span></td>
              {% elif cotizacion.status == 'Aprobada' %}
                  <td><span class="badge bg-green">{{ cotizacion.status }}</span></td>
              {% else %}
                  <td><span class="badge bg-red">{{ cotizacion.status }}</span></td>
              {% endif %}
              <td><a href="{% url 'cotizaciones_details' cotizacion.pk %}">Ver</a></td>
              {% if propia == 'si' %}
              <td>
            <div class="btn-group">
                      {% if cotizacion.status == 'Rechazada' or cotizacion.status == 'Aprobada' %}
                          <button type="button" class="disabled btn btn-default">Acción</button>
                        <button type="button" class="disabled btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      {% else %}
                          <button type="button" class="btn btn-default">Acción</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                      {% endif %}
                      <ul class="dropdown-menu" role="menu">
                        {% if cotizacion.status == 'Guardada'%}
                        <li><a href="{% url 'send' cotizacion.pk %}"><i class="fa fa-send">  Enviar</i></a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'change-status' cotizacion.pk 0 %}"><i class="fa fa-check-circle" style="color: green;">  Aprobar</i></a></li>
                        <li><a href="{% url 'change-status' cotizacion.pk 1 %}"><i class="fa fa-times-circle" style="color: red;">  Rechazar</i></a></li>
                      </ul>
                    </div>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Conductor</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Total</th>
              <th>Status</th>
              <th>Detalles</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-right">
    <a class="btn btn-lg calculate" href="{% url 'dashboard' %}">Atrás</a>
  </div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
    $(function() {
        $("#id_start_date_picker").datetimepicker({"pickTime": false, "language": "en-us", "format": "YYYY-MM-DD"});
    });
</script>
<script>
    $(function() {
        $("#id_end_date_picker").datetimepicker({"pickTime": false, "language": "en-us", "format": "YYYY-MM-DD"});
    });
</script>
<script>
  $(document).ready(function(){
    $(function () {
        $("#example1").DataTable();
      });
  });
</script>

{% endblock custom_script %}

