{% extends "administrador/base_admin.html" %}
{% load static %}
{% block title %}<title>Detalle de Cotización</title>{% endblock title %}
{% load humanize %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<style type="text/css">
  .calculate {
    color: #FFFFFF;
    background-color: #727270;
    text-align: center;
    margin-bottom: 2px;
    transition: all 0.8s ease;
  }
</style>
{% endblock extracss %}

{% block titulo %}
    <h1 class="col-md-8">
        COTIZACIÓN
    </h1>
    <h1 class="col-md-4">
    {% if cotizacion.status == 'Aprobada' %}
      <span class="pullbadge bg-green col-md-6" style="text-align: center;">{{cotizacion.status}}</span>
    {% elif cotizacion.status == 'Rechazada' %}
      <span class="pullbadge bg-red" style="text-align: center;">{{cotizacion.status}}</span>
    {% else %}
      <span class="pullbadge bg-orange col-md-6" style="text-align: center;">{{cotizacion.status}}</span>
    {% endif %}
    </h1>
{% endblock titulo %}

{% block content %}
<br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                <!-- <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> --><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" style="width:100%">
                      <tr>
                        <th>Descp. de Cobertura</th>
                        <th>Suma Asegurada<br>Por persona/Por accidente</th>
                        <th>Deducible</th>
                        <th>Prima</th>
                      </tr>
                      <tr>
                        <td>Lesiones Corporales</td>
                        <td>{{ cotizacion.lesiones_corporales }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_lesiones|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Daños a la Propiedad Ajena</td>
                        <td>{{ cotizacion.danios_propiedad }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_daniosProp|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Gastos Médicos por Accidente</td>
                        <td>{{ cotizacion.gastos_medicos }}</td>
                        <td></td>
                        <td>{{ cotizacion.prima_gastosMedicos|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Otros Daños</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.otros_danios|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.prima_otrosDanios|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Colisión y Vuelco</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.colision_vuelco|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.prima_colisionVuelco|floatformat:2|intcomma }}</td>
                      </tr>
                      <tr>
                        <td>Incendio y Rayo</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.incendio_rayo|floatformat:2|intcomma }}</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Robo y Hurto</td>
                        <td>{{ cotizacion.conductor.valor|floatformat:2|intcomma }}</td>
                        <td>{{ cotizacion.robo_hurto|floatformat:2|intcomma }}</td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Muerte Accidental</td>
                        <td>{{ cotizacion.muerte_accidental }}</td>
                        <td></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Asistencia Legal</td>
                        <td>Incluido</td>
                        <td></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <td>Importación de Piezas</td>
                        {% if cotizacion.importacion_piezas%}
                          <td>Incluido</td>
                          <td></td>
                          <td>{{ cotizacion.prima_importacion|floatformat:2|intcomma }}</td>
                        {% else %}
                          <td>No Incluido</td>
                          <td></td>
                          <td>-</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td>Endoso {{ cotizacion.endoso }}</td>
                        <td>Incluido</td>
                        <td></td>
                        <td>{{ cotizacion.prima_endoso|floatformat:2|intcomma }}</td>
                      </tr>
                    </table>
                    <div class="col-md-5 hidden-xs"></div>
                    <div class="row hidden-md hidden-lg"></div>
                    <div class="col-md-2 col-xs-12">
                    </div>
                    <div class="row hidden-md hidden-lg"></div>
                    <div class="col-xs-1 hidden-md hidden-lg"></div>
                    <div class="col-md-3 col-xs-6 text-right" style="text-align:left;">
                      <h5><strong>Endoso:</strong></h5>
                      <h5>Subtotal:</h5>
                      <h5>Impuestos:</h5>
                      <h5><strong>Total a Pagar:</strong></h5>
                      <h5><strong>Cuotas:</strong></h5>
                      <h5><strong>Prima Mensual:</strong></h5>
                      <h5><strong>Prima Pago de Contado:</strong></h5>
                      <h5>Prima Pago ACH/Visa:</h5>
                    </div>
                    <div class="col-md-2 col-xs-4 text-right" style="text:align:left;">
                      <h5><strong>{{ cotizacion.endoso }}</strong></h5>
                      <h5>B/.{{ cotizacion.subtotal|floatformat:2|intcomma }}</h5>
                      <h5>B/.{{ cotizacion.impuestos|floatformat:2|intcomma }}</h5>
                      <h5><strong>B/.{{ cotizacion.total|floatformat:2|intcomma }}</strong></h5>
                      <h5><strong> {{ cotizacion.cuota }}</strong></h5>
                      <h5><strong>B/. {{ cotizacion.prima_mensual|floatformat:2 }}</strong></h5>
                      <h5><strong>B/.{{ cotizacion.prima_pagoContado|floatformat:2|intcomma }}</strong></h5>
                      <h5>B/.{{ cotizacion.prima_pagoVisa|floatformat:2|intcomma }}</h5>
                    </div>
                    <br>
                    </div><!-- /.box-body -->
                    </div><!-- /.box -->

            </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <a class="btn btn-lg calculate" href="{% url 'cotizaciones_list' %}">Atrás</a>
          </div>
        </div>



{% endblock content %}

{% block custom_script %}

{% endblock custom_script %}
