{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Mis Solicitudes de Polizas</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-right: 2%;">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title">Mis Solicitudes de Polizas</h3>
			</div>
			<div class="box-body table-responsive no-padding">
			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
				    <tr>
				    	<th>Conductor</th>
				    	<th>Tlf. Celular</th>
				    	<th>Correo</th>
				    	<th>Marca</th>
				    	<th>Modelo</th>
				    	<th>Ilicito - Politico - D. Prima</th>
				    	<th>Corredor</th>
				    	<th>Detalles</th>
				    </tr>
			    </thead>
			    <tbody>
			    {% for solicitud in solicitudes %}
			    	<tr role="row">
				      <td> {{ solicitud.cotizacion.conductor.nombre }} {{ solicitud.cotizacion.conductor.apellido }}</td>
				      <td>{{ solicitud.cotizacion.conductor.telefono1 }}</td>
				      <td>{{ solicitud.cotizacion.conductor.correo }}</td>
				      <td>{{ solicitud.cotizacion.conductor.marca.nombre }}</td>
				      <td>{{ solicitud.cotizacion.conductor.modelo.nombre }}</td>
				      {% if solicitud.cotizacion.conductor.datos.first.ilicito == 'Si' or solicitud.cotizacion.conductor.datos.first.politico_expuesto == 'Si' or solicitud.cotizacion.conductor.datos.first.declaracion_prima == 'Si' %}
				      	<td><span class="badge bg-red">Si</span></td>
				      {% else %}
				      	<td><span class="badge bg-green">No</span></td>
				      {% endif %}
			          <td><span class="badge bg-orange">{{ solicitud.cotizacion.corredor.email }}</span></td>
				      <td>
				      	<div class="btn-group">
		                  	  <button type="button" class="btn btn-default">Acción</button>
		                  	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			                    <span class="caret"></span>
			                    <span class="sr-only">Toggle Dropdown</span>
			                  </button>
		                  <ul class="dropdown-menu" role="menu">
		                    <li><a href="{% url 'send-solicitud' solicitud.pk %}"><i class="fa fa-send"> Enviar</i></a></li>
		                    {% if solicitud.cotizacion.conductor.datos.first.ilicito == 'No' and solicitud.cotizacion.conductor.datos.first.politico_expuesto == 'No' and solicitud.cotizacion.conductor.datos.first.declaracion_prima == 'No' %}
		                    	<li><a href="{% url 'emitir-poliza' solicitud.pk %}"><i class="fa fa-check" onclick="window.open('{% url 'emitir' solicitud.pk %}')">  Emitir</i></a></li>
		                    {% endif %}
		                    <li><a href="" onclick="window.open('{% url 'generacion-pdf-polizas' solicitud.pk %}');"><i class="fa fa-eye">  Ver</i></a></li>
		                  </ul>
		                </div>
				      </td>
				    </tr>
			    {% endfor %}
			    </tbody>
			    <tfoot>
				    <tr>
				    	<th>Conductor</th>
				    	<th>Tlf. Celular</th>
				    	<th>Correo</th>
				    	<th>Marca</th>
				    	<th>Modelo</th>
				    	<th>Ilicito - Politico - D. Prima</th>
				    	<th>Corredor</th>
				    	<th>Detalles</th>
				    </tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12" style="padding-right: 2%;">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title">Mis Polizas Emitidas</h3>
			</div>
			<div class="box-body table-responsive no-padding">
			  <table id="example2" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example2_info">
			    <thead>
				    <tr>
				    	<th>Número</th>
				    	<th>Conductor</th>
				    	<th>Tlf. Celular</th>
				    	<th>Correo</th>
				    	<th>Marca</th>
				    	<th>Modelo</th>
				    	<th>Corredor</th>
				    	<th>Detalles</th>
				    </tr>
			    </thead>
			    <tbody>
			    {% for solicitud in emitidas %}
			    	<tr role="row">
				      <td> {{ solicitud.num }}</td>
				      <td> {{ solicitud.cotizacion.conductor.nombre }} {{ solicitud.cotizacion.conductor.apellido }}</td>
				      <td>{{ solicitud.cotizacion.conductor.telefono1 }}</td>
				      <td>{{ solicitud.cotizacion.conductor.correo }}</td>
				      <td>{{ solicitud.cotizacion.conductor.marca.nombre }}</td>
				      <td>{{ solicitud.cotizacion.conductor.modelo.nombre }}</td>
			          <td><span class="badge bg-orange">{{ solicitud.cotizacion.corredor.email }}</span></td>
				      <td><a id="id_submit" href="{% url 'emitir' solicitud.pk %}"  onclick="">Ver</a></td>
				    </tr>
			    {% endfor %}
			    </tbody>
			    <tfoot>
				    <tr>
				    	<th>Número</th>
				    	<th>Conductor</th>
				    	<th>Tlf. Celular</th>
				    	<th>Correo</th>
				    	<th>Marca</th>
				    	<th>Modelo</th>
				    	<th>Corredor</th>
				    	<th>Detalles</th>
				    </tr>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
	$(document).ready(function(){
		$(function () {
	    	$("#example1").DataTable();
	    	$("#example2").DataTable();
	    });
	});
</script>

{% endblock custom_script %}
